@import '../../src/scss/components/vars';

.special-holidays {
  padding: 130px 0;
  position: relative;

  @media (max-width: $md) {
    padding: 100px 0;
  }

  @media (max-width: $sm) {
    padding: 60px 0;
  }

  @media (max-width: $xs) {
    padding: 40px 0;
  }

  &-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      max-width: none;
    }
  }

  .section-holder {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;

    @media (max-width: $md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .content-col {
    margin-right: 122px;
    max-width: 680px;

    @media (max-width: $lg) {
      margin-right: 60px;
      max-width: 500px;
    }

    @media (max-width: $md) {
      margin-right: 0;
      max-width: 100%;
    }

    .subtitle {
      margin: 25px 0 50px;
      font-size: 18px;
      line-height: 20px;
      color: #fff;

      @media (max-width: $sm) {
        margin: 20px 0 30px;
      }

      @media (max-width: $xs) {
        margin: 15px 0 20px ;
        font-size: 16px;
      }

      p {
        margin: 0;
      }

      span{
        font-weight: 500;
      }
    }

    .title {
      h1 {
        font-weight: bold;
        font-size: 68px;

        @media (max-width: $sm) {
        }

        @media (max-width: $xs) {
          font-size: 45px;
        }
      }
    }
  }

  .video-col {
    width: 100%;
    max-width: 644px;
    height: auto;
    position: relative;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: $md) {
      margin-top: 60px;
      margin-left: 0;
    }

    @media (max-width: $xs) {
      margin-top: 30px;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .secondary-button{
    margin-top: 40px;
  }

}