@import '../../../src/scss/components/vars';

.affiliate-faq-section {
  padding: 120px 0 115px;

  @media (max-width: $lg) {
    padding: 100px 0;
  }

  @media (max-width: $md) {
    padding: 80px 0;
  }

  @media (max-width: $sm) {
    padding: 60px 0;
  }

  .titles-holder {
    text-align: center;

    h3 {
      margin: 0;
    }

    .subtitle {
      color: $text-color;
      font-size: 18px;
      margin-top: 10px;

      @media (max-width: $xs) {
        font-size: 16px;
      }
    }
  }

  .faqs-title {
    margin: 65px 0 18px 0;

    @media (max-width: $sm) {
      margin: 50px 0 18px 0;
    }

    @media (max-width: $xs) {
      margin: 40px 0 18px 0;
    }
  }

  .faqs {
    .faq {
      color: $white;
      font-size: 16px;
      border-bottom: 1px solid $text-color;

      &:last-of-type {
        border-bottom: 0;
      }

      .question {
        padding: 24px 0;
        position: relative;
        cursor: pointer;

        @media (max-width: $xs) {
          padding: 18px 0;
        }

        span {
          position: absolute;
          top: auto;
          bottom: auto;
          right: 0;
          margin: auto;
          font-size: 20px;

          @media (max-width: $xs) {
            font-size: 18px;
          }
        }
      }

      .answer {
        padding-bottom: 24px;
        display: none;

        @media (max-width: $xs) {
          padding-bottom: 18px;
        }
      }
    }
  }
}