@import '../../../src/scss/components/vars';

.hero-section {
  background-color: rgba($dark-blue, 0.8);
  padding: 15px 0;

  &.no-image {
    padding: 40px 0;

    .text-col {
      padding: 0;
      margin: 0;
      max-width: 100%;
    }
  }

  .section-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .text-col {
    max-width: 600px;
    padding-right: 40px;

    @media (max-width: $md) {
      padding-right: 0;
      max-width: 100%;
    }

    h1 {
      margin: 0;
      font-size: 52px;

      @media (max-width: $sm) {
        font-size: 47px;
      }

      @media (max-width: $xs) {
        font-size: 42px;
      }
    }

    .subtitle {
      color: $text-color;
      font-size: 18px;
      margin-top: 8px;

      @media (max-width: $xs) {
        font-size: 16px;
      }
    }
  }

  .image-col {
    width: 100%;
    max-width: 638px;

    @media (max-width: $md) {
      max-width: 100%;
      margin-top: 40px;
    }

    img {
      width: 100%;
      display: block;
    }
  }
}

.woocommerce-account, .woocommerce-cart {
  .hero-section {
    .image-col {
      max-width: 769px;
    }
  }
}

.woocommerce-cart .hero-section {
  .image-col {
    max-width: 753px;
  }
}

.woocommerce-checkout .hero-section {
  .text-col {
    .subtitle {
      font-size: 24px;

      @media (max-width: $md) {
        font-size: 22px;
      }

      @media (max-width: $sm) {
        font-size: 20px;
      }

      @media (max-width: $xs) {
        font-size: 18px;
      }
    }
  }
}

.page-template-template-affiliate-area .hero-section {
  .text-col {
    padding: 0 40px 0 0;

    @media (max-width: $md) {
      padding: 0;
    }

    .buttons-holder {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: $md) {
        margin-top: 25px;
      }

      @media (max-width: $sm) {
        margin-top: 15px;
      }

      a {
        margin-top: 15px;
        margin-right: 15px;
        min-width: 152px;

        @media (max-width: $xs) {
          min-width: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .image-col {
    max-width: 721px;
  }

  &.no-image {
    .text-col {
      padding: 0;
    }
  }

  &.join {
    background-color: rgba(0, 0, 0, 0);

    .text-col {
      padding-top: 0;

      h3 {
        margin: 0;
        font-size: 32px;

        @media (max-width: $xs) {
          font-size: 28px;
        }
      }

      .buttons-holder {
        margin-top: 35px;

        @media (max-width: $sm) {
          margin-top: 30px;
        }
      }
    }
  }

  &.affiliate-dashboard {
    .text-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .image-col {
      max-width: 716px;
    }
  }
}

.page-template-template-press .hero-section {
  .text-col {
    max-width: 635px;

    @media (max-width: $sm) {
      max-width: 100%;
    }

    .download-button-holder {
      margin-top: 40px;

      @media (max-width: $md) {
        margin-top: 30px;
      }

      .primary-button {
        padding: 15px 28px;

        @media (max-width: $xs) {
          padding: 12px 25px;
        }
      }
    }
  }
}

// hide image on mobile
.woocommerce-shop,
.page-template-template-contacts,
.woocommerce-cart,
.woocommerce-checkout {
  .hero-section .image-col {
    @media (max-width: $xs) {
      display: none;
    }
  }
}