@import '../../../src/scss/components/vars';

.hero-section {
  background-color: rgba($dark-blue, 0.8);
  padding: 62px 0 16px;

  @media (max-width: $sm) {
    padding: 50px 0 16px;
  }

  @media (max-width: $xs) {
    padding: 40px 0 16px;
  }

  &.no-image {
    padding: 62px 0;

    @media (max-width: $sm) {
      padding: 50px 0;
    }

    @media (max-width: $xs) {
      padding: 40px 0;
    }

    .text-col {
      padding: 0;
      margin: 0;
      max-width: 100%;
    }
  }

  .section-holder {
    display: flex;
    justify-content: space-between;

    @media (max-width: $lg) {
      align-items: center;
    }

    @media (max-width: $md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .text-col {
    max-width: 600px;
    padding-top: 60px;
    padding-right: 40px;

    @media (max-width: $lg) {
      padding-top: 0;
    }

    @media (max-width: $md) {
      margin-bottom: 40px;
      padding-right: 0;
      max-width: 100%;
    }

    h1 {
      margin: 0;
    }

    .subtitle {
      color: $text-color;
      font-size: 18px;
      margin-top: 40px;

      @media (max-width: $md) {
        margin-top: 30px;
      }

      @media (max-width: $xs) {
        font-size: 16px;
        margin-top: 20px;
      }
    }
  }

  .image-col {
    width: 100%;
    max-width: 638px;

    @media (max-width: $md) {
      max-width: 100%;
    }

    img {
      width: 100%;
      display: block;
    }
  }
}

.woocommerce-account, .woocommerce-cart {
  .hero-section {
    &:not(.no-image) {
      padding: 0;

      @media (max-width: $md) {
        padding: 62px 0 0;
      }

      @media (max-width: $xs) {
        padding: 50px 0 0;
      }

      @media (max-width: $xs) {
        padding: 40px 0 0;
      }

      .text-col {
        padding-top: 20px;
        padding-bottom: 20px;

        @media (max-width: $md) {
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      .section-holder {
        align-items: center;

        @media (max-width: $md) {
          align-items: flex-start;
        }
      }
    }

    .image-col {
      max-width: 769px;
    }
  }
}

.woocommerce-cart .hero-section {
  .image-col {
    max-width: 753px;
  }
}

.woocommerce-checkout .hero-section {
  padding: 80px 0;

  @media (max-width: $md) {
    padding: 60px 0;
  }

  @media (max-width: $sm) {
    padding: 50px 0;
  }

  @media (max-width: $xs) {
    padding: 40px 0;
  }

  .text-col {
    h1 {
      font-size: 50px;

      @media (max-width: $sm) {
        font-size: 45px;
      }

      @media (max-width: $xs) {
        font-size: 40px;
      }
    }

    .subtitle {
      font-size: 24px;
      margin-top: 0;

      @media (max-width: $md) {
        font-size: 22px;
      }

      @media (max-width: $sm) {
        font-size: 20px;
      }

      @media (max-width: $xs) {
        font-size: 18px;
      }
    }
  }
}

.page-template-template-affiliate-area .hero-section {
  padding: 90px 0 0;

  @media (max-width: $md) {
    padding: 62px 0 16px;
  }

  @media (max-width: $sm) {
    padding: 50px 0 16px;
  }

  @media (max-width: $xs) {
    padding: 40px 0 16px;
  }

  .text-col {
    padding: 30px 40px 30px 0;

    @media (max-width: $md) {
      padding: 0;
    }

    .subtitle {
      margin-top: 15px;
    }

    .buttons-holder {
      margin-top: 45px;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: $md) {
        margin-top: 40px;
      }

      @media (max-width: $sm) {
        margin-top: 30px;
      }

      a {
        margin-right: 15px;
        min-width: 152px;

        @media (max-width: $xs) {
          min-width: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .image-col {
    max-width: 721px;
  }

  &.no-image {
    padding: 90px 0;

    @media (max-width: $md) {
      padding: 62px 0;
    }

    @media (max-width: $sm) {
      padding: 50px 0;
    }

    @media (max-width: $xs) {
      padding: 40px 0;
    }

    .text-col {
      padding: 0;
    }
  }

  &.join {
    background-color: rgba(0,0,0,0);
    padding: 130px 0 0;

    @media (max-width: $lg) {
      padding: 80px 0 0;
    }

    @media (max-width: $md) {
      padding: 62px 0 0;
    }

    @media (max-width: $sm) {
      padding: 50px 0 0;
    }

    @media (max-width: $xs) {
      padding: 40px 0 0;
    }

    &.no-image {
      padding: 130px 0;

      @media (max-width: $lg) {
        padding: 80px 0;
      }

      @media (max-width: $md) {
        padding: 62px 0;
      }

      @media (max-width: $sm) {
        padding: 50px 0;
      }

      @media (max-width: $xs) {
        padding: 40px 0;
      }
    }

    .text-col {
      padding-top: 0;

      h3 {
        margin: 0;
        font-size: 32px;

        @media (max-width: $xs) {
          font-size: 28px;
        }
      }

      .buttons-holder {
        margin-top: 35px;

        @media (max-width: $sm) {
          margin-top: 30px;
        }
      }
    }
  }

  &.affiliate-dashboard {
    padding: 0;

    @media (max-width: $md) {
      padding: 62px 0 0;
    }

    @media (max-width: $sm) {
      padding: 50px 0 0;
    }

    @media (max-width: $xs) {
      padding: 40px 0 0;
    }

    .text-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .image-col {
      max-width: 716px;
    }
  }
}