@import '../../../src/scss/components/vars';

.contact-info {
  padding: 80px 0 75px;

  @media (max-width: $sm) {
    padding: 60px 0;
  }

  @media (max-width: $xs) {
    padding: 40px 0;
  }

  .section-holder {
    display: flex;
    align-items: flex-start;

    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  .form-col {
    width: 100%;
    max-width: 1094px;

    .form-holder {
      position: relative;
      padding: 45px 50px 40px;

      @media (max-width: $sm) {
        padding: 40px;
      }

      @media (max-width: $xs) {
        padding: 30px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        border-radius: 10px;
        background-color: rgba($dark-blue, 0.851);
      }

      & > h3 {
        margin-bottom: 29px;

        @media (max-width: $xs) {
          margin-bottom: 25px;
        }
      }

      form {
        .holder {
          display: flex;

          @media (max-width: $sm) {
            flex-direction: column;
          }

          .input-holder:first-of-type {
            margin-right: 25px;

            @media (max-width: $sm) {
              margin-right: 0;
            }
          }
        }

        .input-holder {
          position: relative;
          width: 100%;
          margin-bottom: 23px;

          @media (max-width: $xs) {
            margin-bottom: 20px;
          }

          &.not-required {
            input,
            textarea {
              border: 1px solid rgba($text-color, 0.6);

              &::placeholder {
                opacity: 0.6;
              }
            }
          }

          &.textarea {
            margin-bottom: 0;

            .custom-placeholder {
              top: 17px;

              @media (max-width: $xs) {
                top: 15px;
              }
            }
          }

          input, textarea {
            width: 100%;
            background-color: rgba(0, 0, 0, 0);
          }

          .custom-placeholder {
            position: absolute;
            top: 13px;
            left: 28px;
            color: $text-color;
            font-size: 16px;
            font-weight: 500;
            z-index: -1;

            @media (max-width: $xs) {
              left: 17px;
            }
          }
        }

        .custom-placeholder {
          span {
            color: $red;
          }
        }

        .submit-holder {
          display: flex;
          justify-content: center;
          padding-top: 34px;

          input {
            min-width: 152px;
          }
        }

        input:not([type="submit"]) {
          width: 100%;
          height: 52px;
          padding: 0 26px;
          line-height: 1.298;

          @media (max-width: $xs) {
            padding: 0 15px;
          }
        }

        textarea {
          width: 100%;
          padding: 17px 26px;

          @media (max-width: $xs) {
            padding: 15px;
          }
        }
      }
    }

    .under-form-text {
      font-size: 14px;
      color: $text-color;
      padding-top: 35px;

      p {
        margin: 0;
      }

      a {
        color: $text-color-light;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .info-col {
    padding-left: 45px;
    width: 100%;
    max-width: 388px;

    @media (max-width: $md) {
      padding-left: 0;
      margin-top: 40px;
      max-width: 100%;
    }

    .page-block {
      padding: 30px 60px 33px;
      border-radius: 10px;
      background-color: rgba($dark-blue, 0.851);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 18px;

      &:hover {
        .title {
          color: $red;
        }
      }

      .icon {
        max-width: 96px;
        margin-bottom: 15px;

        img {
          display: block;
          width: 100%;
        }
      }

      .title {
        transition: color $transition;
        color: $white;
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 2px;
        text-align: center;

        @media (max-width: $xs) {
          font-size: 17px;
        }
      }

      .description {
        color: $text-color;
        font-size: 10px;
        text-align: center;
      }
    }

    .info-blocks {

      .info-block {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        border-radius: 10px;
        background-color: rgba($dark-blue, 0.851);
        padding: 21px 40px 21px 28px;

        &:hover .title {
          color: $red;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        .icon {
          max-width: 50px;
          margin-right: 20px;

          @media (max-width: $xs) {
            max-width: 45px;
          }

          img {
            display: block;
            width: 100%;
          }
        }

        .title {
          transition: color $transition;
          font-size: 19px;
          color: $white;
          font-weight: bold;
          margin-bottom: 2px;

          @media (max-width: $xs) {
            font-size: 17px;
          }
        }

        .description {
          color: $text-color;
          font-size: 10px;
        }
      }
    }
  }
}