@import '../../../src/scss/components/vars';

.taxonomy-section-posts {
  padding: 50px 0 55px;

  @media (max-width: $xs) {
    padding: 40px 0;
  }

  .breadcrumbs {
    margin-bottom: 18px;
  }

  .cols-holder {
    display: flex;

    @media (max-width: $md) {
      flex-direction: column;
    }

    .left-col {
      width: 100%;
    }
  }

  .section-posts {
    margin-top: 60px;

    @media (max-width: $sm) {
      margin-top: 40px;
    }

    @media (max-width: $xs) {
      margin-top: 30px;
    }

    .section-info {
      display: flex;
      align-items: center;

      @media (max-width: $xs) {
        flex-direction: column;
        align-items: flex-start;
      }

      .icon {
        margin-right: 45px;
        max-width: 135px;

        @media (max-width: $md) {
          max-width: 100px;
          margin-right: 35px;
        }

        @media (max-width: $xs) {
          margin-right: 0;
          margin-bottom: 5px;
          max-width: 75px;
        }
      }

      h3 {
        font-size: 38px;
        color: $white;
        margin: 0;

        @media (max-width: $md) {
          font-size: 30px;
        }

        @media (max-width: $xs) {
          font-size: 25px;
        }
      }

      .description {
        margin-top: 4px;
        font-size: 18px;
        color: $text-color;

        @media (max-width: $xs) {
          font-size: 16px;
        }
      }
    }

    .posts {
      margin-top: 60px;

      @media (max-width: $md) {
        margin-top: 40px;
      }

      @media (max-width: $xs) {
        margin-top: 30px;
      }

      & > a {
        display: block;
        margin-bottom: 23px;
        padding: 49px 44px;
        border-radius: 10px;
        background-color: $dark-blue;

        @media (max-width: $md) {
          padding: 40px;
          margin-bottom: 20px;
        }

        @media (max-width: $sm) {
          padding: 20px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        &:hover h6 {
          color: $red;
        }

        h6 {
          color: $white;
          margin: 0;
          font-size: 22px;
          transition: color $transition;

          @media (max-width: $xs) {
            font-size: 20px;
          }
        }

        .excerpt {
          font-size: 14px;
          color: $text-color;
          margin-top: 6px;

          p {
            margin: 0;
          }
        }
      }
    }
  }

  .bottom-text {
    font-size: 14px;
    color: $text-color;
    margin-top: 60px;
    text-align: center;

    @media (max-width: $xs) {
      margin-top: 40px;
    }

    p {
      margin: 0;
    }

    a {
      color: #969fad;

      &:hover {
        color: $white;
      }
    }
  }
}