@import '../../../src/scss/components/vars';

.featured-post {
  padding: 88px 0;
  @media (max-width: $sm) {
    padding: 40px 0;
  }
  .section-holder {
    display: flex;
    justify-content: start;
    @media (max-width: $lg) {
      flex-wrap: wrap;
    }
    .image-column {
      flex-basis: 47%;
      @media (max-width: $md) {
        flex-basis: 100%;
      }
      @media (min-width: $md) {
        padding-right: 30px;
      }
      .image-wrap {
        max-width: 556px;
      }
    }
    .content-column {
      flex-basis: 50%;
      padding-top: 26px;
      @media (max-width: $md) {
        flex-basis: 100%;
      }
      .content-wrap {
        max-width: 630px;
      }
    }
  }

  .section-heading {
    text-transform: uppercase;
    color: #f4f5fa;
    @media (max-width: $xs) {
      font-size: 21px;
    }
  }
  .post {
    &-date {
      color: $red;
      @media (max-width: $xs) {
        font-size: 16px;
      }
    }
    &-title {
      line-height: 1.1;
      margin-bottom: 1px;
      letter-spacing: 1.7px;
      @media (max-width: $xs) {
        font-size: 28px;
        margin-bottom: 20px;
      }
    }
    &-excerpt {
      line-height: 1.56;
      letter-spacing: .7px;
      margin-bottom: 42px;
      color: $text-color;
      @media (max-width: $xs) {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }

  .primary-button {

  }
}