@import '../../../src/scss/components/vars';

.featured-post {
  padding: 88px 0;

  .section-holder {
    display: flex;
    justify-content: start;
    @media (max-width: $lg) {
      flex-wrap: wrap;
    }
    .image-column {
      flex-basis: 47%;
      @media (max-width: $md) {
        flex-basis: 100%;
      }
    }
    .content-column {
      flex-basis: 43%;
      padding-top: 26px;
      @media (max-width: $lg) {
        flex-basis: 50%;
      }
      @media (min-width: $md) and (max-width: 1300px) {
        padding-left: 30px;
      }
      @media (max-width: $md) {
        flex-basis: 100%;
      }
    }
  }

  .section-heading {
    text-transform: uppercase;
    /*letter-spacing: -.7px;*/
  }
  .post-date {
    color: $red;
  }
  .post-title {
    line-height: 1.1;
    margin-bottom: 1px;
    letter-spacing: 1.7px;
    color: #f4f5fa;
  }
  .post-excerpt {
    line-height: 1.56;
    letter-spacing: .7px;
    margin-bottom: 42px;
    color: $text-color;
  }
  .primary-button {
    padding: 16px 42px;
    font-size: 18px;
    letter-spacing: .7px;
  }
}

//Layout Styles
.test-page {
  /*display: none;*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: -36px;
  opacity: .8;
  pointer-events: none;
}
section {
  //background-color: green;
}
