@import '../../../src/scss/components/vars';

.single-product-also-from-this-package {
  background-color: rgba($dark-blue, 0.8);
  padding: 105px 0 85px;

  @media (max-width: $sm) {
    padding: 60px 0 40px;
  }

  @media (max-width: $xs) {
    padding: 40px 0 20px;
  }

  .title-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;

    @media (max-width: $sm) {
      margin-bottom: 40px;
    }

    h3 {
      color: $white;
      margin-bottom: 0;
    }

    .description {
      text-align: center;
      font-size: 16px;
      color: $text-color;
      line-height: 1.75;

      @media (max-width: $xs) {
        line-height: 1.5;
      }

      p {
        margin: 0;
      }
    }
  }

  .products-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -20px;

    @media (max-width: $md) {
      margin: 0 -10px;
    }

    .product-card {
      flex: 1 1 33.33%;
      max-width: 350px;
      padding: 0 20px;
      margin-bottom: 20px;

      @media (max-width: $md) {
        flex: 1 1 50%;
        padding: 0 10px;
      }

      @media (max-width: $xs) {
        flex: 1 1 100%;
        max-width: 100%;
      }

      .thumbnail {
        margin-bottom: 7px;
        height: 175px;

        @media (max-width: $md) {
          height: 150px;
        }

        @media (max-width: $xs) {
          height: auto;
        }

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      .title {
        padding: 0;
        font-size: 16px;
      }

      .price {
        font-size: 14px;
      }
    }
  }
}