@import '../../../src/scss/components/vars';

.shop-products-grid {
  padding: 50px 0 75px;

  @media (max-width: $xs) {
    padding: 40px 0 60px;
  }

  .filters-holder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;

    @media (max-width: $sm) {
      flex-direction: column-reverse;
    }

    @media (max-width: $xs) {
      margin-bottom: 25px;
    }

    .col {
      width: 100%;

      &.filters {
        padding-right: 72px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: $md) {
          padding-right: 0;
        }

        & > div:first-of-type {
          display: flex;

          @media (max-width: $md) {
            flex-wrap: wrap;
          }

          @media (max-width: $xs) {
            flex-direction: column;
          }
        }
      }

      &.sort {
        max-width: 270px;
        box-sizing: content-box;
        padding-left: 18px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (max-width: $sm) {
          max-width: 100%;
          align-items: flex-start;
          padding-left: 0;
          margin-bottom: 16px;
        }
      }
    }

    .search-form-holder {
      max-width: 515px;
      width: 100%;
      height: 39px;

      @media (max-width: $md) {
        max-width: 100%;
      }

      input {
        height: 100%;
        width: 100%;
        appearance: none;
        background-position: 97% center;
        background-repeat: no-repeat;
        background-image: url("../../../../img/search-icon.svg");
        background-size: 17px;
        padding: 0 40px 0 16px;
        font-size: 14px;
      }
    }

    .filter-tags-holder {
      margin-left: 16px;
      min-width: 184px;
      position: relative;

      @media (max-width: $md) {
        margin-left: 0;
        margin-top: 16px;
      }

      .placeholder {
        position: absolute;
        top: 9px;
        left: 15px;
        font-size: 14px;
        color: $white;
      }

      .select2 {
        width: 100% !important;

        .select2-selection {
          cursor: pointer;
        }
      }
    }

    .colors-holder {
      margin-left: 16px;
      display: flex;
      flex-wrap: wrap;
      max-width: 145px;
      margin-bottom: -7px;

      @media (max-width: $md) {
        margin-top: 16px;
      }

      @media (max-width: $xs) {
        margin-left: 0;
      }

      label {
        content: '';
        width: 17px;
        height: 17px;
        margin-right: 7px;
        margin-bottom: 7px;
        border-radius: 2px;
        position: relative;

        &.multi-color {
          background-image: linear-gradient(-45deg, rgb(226, 61, 127) 5%, rgb(252, 143, 0) 30%, rgb(244, 236, 73) 50%, rgb(36, 214, 39) 70%, rgb(73, 109, 230) 95%);
        }

        input[type="checkbox"] {
          display: none;

          &:checked + svg {
            display: block;
            background-color: rgba(0,0,0,0.2);
          }
        }

        svg {
          display: none;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: 100%;
          padding: 2px;

          path {
            fill: $white;
          }
        }
      }
    }

    .filter-bubbles {
      display: flex;
      flex-wrap: wrap;
      margin-top: 18px;

      .bubble {
        border-radius: 10px;
        background-color: $text-color;
        min-width: 90px;
        height: 25px;
        color: $white;
        font-size: 10px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 18px;
        position: relative;
        transition: background-color $transition;
        padding: 0 20px;
        margin-bottom: 15px;

        @media (max-width: $xs) {
          margin-right: 15px;
          min-width: 70px;
        }

        &:hover {
          background-color: #65748d;
        }

        & > span {
          &::first-letter {
            text-transform: uppercase;
          }
        }

        .delete-bubble {
          position: absolute;
          right: 5px;
          top: auto;
          bottom: auto;
          width: 10px;
          height: 10px;
          cursor: pointer;

          svg {
            display: block;
            width: 6px;
            height: 6px;
          }
        }
      }

      .clear-all-filters {
        min-width: 90px;
        height: 25px;

        &:hover {
          background-color: $red;
          border-color: $red;
        }
      }
    }

    .sort-holder {
      width: 100%;
      max-width: 184px;

      @media (max-width: $sm) {
        max-width: 100%;
      }

      .select2 {
        width: 100% !important;
      }
    }

    .showing-results {
      font-size: 14px;
      color: $text-color;
      line-height: 1.231;
      margin-top: 17px;

      @media (max-width: $sm) {
        margin-top: 16px;
      }
    }
  }

  .section-holder {
    display: flex;

    @media (max-width: $lg) {
      flex-direction: column-reverse;
    }

    .col {
      width: 100%;
    }

    .col.categories {
      max-width: 270px;
      box-sizing: content-box;
      padding-left: 90px;

      @media (max-width: $lg) {
        padding-left: 0;
        box-sizing: border-box;
        margin-bottom: 60px;
        max-width: 100%;
      }

      @media (max-width: $xs) {
        margin-bottom: 40px;
      }
    }
  }

  .products-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -23px;

    @media (max-width: $md) {
      margin: 0 -20px;
    }

    @media (max-width: $xs) {
      margin: 0;
    }

    .product-card {
      width: 33.33%;
      padding: 0 23px;
      margin-bottom: 55px;

      @media (max-width: $md) {
        width: 50%;
        padding: 0 20px;
        margin-bottom: 40px;
      }

      @media (max-width: $xs) {
        width: 100%;
        padding: 0;
      }

      .thumbnail {
        margin-bottom: 7px;
        height: 193px;

        @media (max-width: $md) {
          height: 150px;
        }

        @media (max-width: $xs) {
          height: auto;
        }

        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .posts-pagination {
    margin-top: 20px;

    @media (max-width: $xs) {
      margin-top: 0;
    }
  }

  .categories-list {
    & > h6 {
      margin: 0 0 15px 0;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
        line-height: 1;
        margin-bottom: 18px;

        &:last-of-type {
          margin-bottom: 0;
        }

        &.has-children > a {
          padding-left: 16px;
          position: relative;

          &:hover {
            svg path {
              fill: $white;
            }
          }

          &.opened {
            color: $white;

            svg {
              transform: rotate(90deg);

              path {
                fill: $white;
              }
            }
          }

          svg {
            position: absolute;
            left: 0;
            top: 4px;
            display: block;
            width: 7px;
            transition: transform $transition;

            path {
              transition: fill $transition;
              fill: $text-color;
            }
          }
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $text-color;
        font-size: 15px;

        &:hover {
          color: $white;
        }

        &.current {
          color: $red;
        }
      }
    }

    & > ul {
      & > li {

        // child
        & > ul {
          display: none;
          padding-top: 18px;
          padding-left: 35px;

          & > li {
            margin-bottom: 18px;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}