@import '../components/vars';

.checkout-section {
  padding: 125px 0 133px;

  .woocommerce-checkout {
    .form-holder {
      display: flex;
      justify-content: space-between;

      @media (max-width: $lg) {
        flex-direction: column;
      }

      .left-col {
        width: 60%;
        max-width: 823px;
      }

      .right-col {
        margin-left: 126px;
        width: 40%;
        max-width: 530px;
      }

      h3 {
        margin: 0;
      }

      .left-col {
        .information-box {
          margin-bottom: 70px;

          .text {
            font-size: 18px;
            color: $text-color;

            @media (max-width: $xs) {
              font-size: 16px;
            }

            span {
              color: $white;
            }

            a {
              color: $red;

              &:hover {
                color: $white;
              }
            }
          }
        }

        .billing-info-box {
          margin-bottom: 75px;

          .subtitle {
            font-size: 18px;
            color: $text-color;
            margin-bottom: 28px;

            @media (max-width: $xs) {
              font-size: 16px;
            }
          }

          .woocommerce-billing-fields {
            .input-wrapper, .form-row {
              margin-bottom: 35px;

              @media (max-width: $sm) {
                margin-bottom: 30px;
              }

              @media (max-width: $xs) {
                margin-bottom: 25px;
              }

              &:last-child {
                margin-bottom: 0;
              }

              .promt {
                display: block;
                color: $text-color;
                font-size: 12px;
                font-style: italic;
                margin-top: 4px;
              }

              label {
                display: inline-block;
                font-size: 16px;
                color: $white;
                margin-bottom: 12px;
                line-height: 1;

                span {
                  padding-left: 4px;
                  color: $text-color;
                }

                .required {
                  content: '';
                  position: absolute;
                  font-size: 0;

                  &::before {
                    content: '*';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 8px;
                    height: 8px;
                    color: $red;
                    font-size: 16px;
                  }
                }

                .optional {
                  padding-left: 0;
                }
              }

              input {
                width: 100%;
                padding: 14px 25px;

                @media (max-width: $xs) {
                  padding: 10px 15px;
                }
              }

              .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
                height: 54px !important;

                @media (max-width: $xs) {
                  height: 46px !important;
                }

                .select2-selection__rendered {
                  padding-left: 25px !important;
                  padding-right: 25px !important;

                  @media (max-width: $xs) {
                    padding-left: 15px !important;
                    padding-right: 15px !important;
                  }
                }
              }
            }
          }
        }

        .payment-methods-box {
          .payments-box {
            border-radius: 6px;
            background-color: rgb(6, 10, 21);
            padding: 33px 77px 33px 33px;

            h6 {
              margin: 0 0 28px 0;
            }

            .woocommerce-checkout-payment {
              .payment_methods {
                .wc_payment_method {
                  width: 100%;
                  display: flex;
                  align-items: center;

                  .holder {
                    width: 100%;

                    label {
                      img {
                        max-width: 27px;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .woocommerce-terms-and-conditions-wrapper {
          margin-top: 50px;
          font-size: 18px;
          color: $text-color;

          .woocommerce-privacy-policy-text {
            margin-bottom: 25px;
          }

          .woocommerce-form__label-for-checkbox {
            display: flex;
            align-items: center;

            input[type="checkbox"] {
              margin-right: 10px;
            }
          }

          p {
            margin: 0;
          }

          a {
            color: $red;

            &:hover {
              color: $white;
            }
          }
        }

        .submit-holder {
          text-align: right;
          margin-top: 29px;

          button {
            min-width: 182px;
          }
        }
      }

      .right-col {
        .order-review-box {
          h6 {
            margin: 0 0 16px 0;
            font-size: 20px;
            font-weight: 500;
            color: $white;
          }

          .woocommerce-checkout-review-order {
            background-color: rgba($dark-blue, 0.851);
            border-radius: 10px;
            padding: 5px 30px;

            .woocommerce-checkout-review-order-table {
              width: 100%;
              border-collapse: collapse;
              border-spacing: 0;

              thead {
                font-size: 16px;
                color: $text-color;
                font-weight: 500;

                .product-name {
                  text-align: left;
                }

                .product-total {
                  text-align: right;
                }

                th {
                  padding: 16px 0;
                }
              }

              tbody {
                font-size: 14px;
                font-weight: 500;
                color: $white;

                td {
                  height: 54px;
                  padding: 17px 0;
                  border-top: 1px solid rgba($text-color, 0.502);
                }

                .product-total {
                  text-align: right;
                }
              }

              tfoot {
                font-size: 18px;

                th {
                  height: 54px;
                  padding: 14px 0;
                  text-align: left;
                  font-weight: normal;
                }

                tr {
                  height: 54px;
                  padding: 14px 0;
                  text-align: right;

                  strong {
                    font-weight: normal;
                  }
                }

                a {
                  color: $red;

                  &:hover {
                    color: $white;
                  }
                }

                .cart-subtotal {
                  border-top: 1px solid rgba($text-color, 0.502);
                  border-bottom: 1px solid rgba($text-color, 0.502);
                  color: $text-color;
                }

                .order-total td {
                  color: $red;
                }
              }
            }
          }
        }
      }
    }
  }
}