@import '../components/vars';

.my-account-section {
  padding: 70px 0 80px;

  @media (max-width: $xs) {
    padding: 60px 0;
  }

  .my-account-title {
    margin: 0 0 15px 0;
    font-size: 20px;
    font-weight: 500;
    color: $white;
  }

  .section-holder {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $lg) {
      flex-direction: column;
    }
  }

  .woocommerce-notices-wrapper {
    font-size: 16px;

    .woocommerce-message {
      margin-top: -20px;
      padding-bottom: 20px;
    }
  }

  .col {
    width: 100%;
  }

  .col.information-col {
    position: relative;
    width: 70.7%;

    @media (max-width: $lg) {
      width: 100%;
    }
  }

  .col.navigation {
    width: 29.3%;
    max-width: 433px;
    padding-right: 50px;

    @media (max-width: 1300px) {
      max-width: 350px;
    }

    @media (max-width: $lg) {
      padding-right: 0;
      margin-bottom: 40px;
      max-width: 100%;
      width: 100%;
    }

    .woocommerce-MyAccount-navigation {
      border-radius: 10px;
      background-color: rgba($dark-blue, 0.851);
      padding: 8px 30px;

      @media (max-width: $xs) {
        padding: 8px 20px;
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          list-style-type: none;
          font-size: 16px;
          position: relative;
          border-bottom: 1px solid rgba($text-color, 0.502);
          display: flex;

          &:after, &::before {
            content: '';
            position: absolute;
            bottom: -1px;
            height: 1px;
            width: 30px;
          }

          &:after {
            right: 0;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba($dark-blue, 0.851));
          }

          &:before {
            left: 0;
            background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba($dark-blue, 0.851));
          }

          &:last-of-type {
            border-bottom: 0;
          }

          &.is-active > a {
            color: $red;
          }

          &.woocommerce-MyAccount-navigation-link--dashboard > a::before {
            background-image: url("../../img/dashboard-icon.svg");
          }

          &.woocommerce-MyAccount-navigation-link--orders > a::before {
            background-image: url("../../img/orders-icon.svg");
          }

          &.woocommerce-MyAccount-navigation-link--downloads > a::before {
            background-image: url("../../img/downloads-icon.svg");
          }

          &.woocommerce-MyAccount-navigation-link--edit-address > a::before {
            background-image: url("../../img/addresses-icon.svg");
          }

          &.woocommerce-MyAccount-navigation-link--payment-methods > a::before {
            background-image: url("../../img/dashboard-icon.svg");
          }

          &.woocommerce-MyAccount-navigation-link--edit-account > a::before {
            background-image: url("../../img/account-details-icon.svg");
          }

          &.woocommerce-MyAccount-navigation-link--customer-logout > a::before {
            background-image: url("../../img/logout-icon.svg");
          }

          a {
            width: 100%;
            color: $white;
            padding: 19px 0 19px 30px;
            position: relative;

            &:hover {
              color: $red;
            }

            &::before {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              width: 13px;
              height: 13px;
            }
          }
        }
      }
    }
  }

  .my-account-info-block {
    width: 100%;
    border-radius: 10px;
    background-color: rgba($dark-blue, 0.471);
    padding: 50px;

    @media (max-width: $md) {
      padding: 40px;
    }

    @media (max-width: $sm) {
      padding: 20px;
    }

    & > h3 {
      margin: 0 0 20px 0;
    }

    & > .section-description {
      color: $text-color;
      line-height: 1.393;
      font-size: 18px;

      @media (max-width: $xs) {
        font-size: 16px;
      }

      a {
        color: $red;

        &:hover {
          color: $white;
        }
      }
    }

    form.edit-account, form.edit-address {
      h5 {
        font-size: 22px;
        color: $white;
        margin: 42px 0 20px 0;
      }

      .input-wrapper, .form-row {
        margin-bottom: 30px;

        @media (max-width: $xs) {
          margin-bottom: 25px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .promt {
          display: block;
          color: $text-color;
          font-size: 12px;
          font-style: italic;
          margin-top: 4px;
        }

        .primary-button {
          min-width: 160px;
          height: 35px;
        }

        label {
          display: inline-block;
          font-size: 16px;
          color: $white;
          margin-bottom: 12px;
          line-height: 1;

          span {
            padding-left: 4px;
            color: $text-color;
          }

          .required {
            content: '';
            position: absolute;
            font-size: 0;
            //margin-left: -3px;

            &::before {
              content: '*';
              position: absolute;
              top: 0;
              left: 0;
              width: 8px;
              height: 8px;
              color: $red;
              font-size: 16px;
            }
          }

          .optional {
            padding-left: 0;
          }
        }

        input {
          width: 100%;
          padding: 14px 15px;

          @media (max-width: $xs) {
            padding: 10px 15px;
          }
        }

        .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
          height: 54px !important;

          @media (max-width: $xs) {
            height: 46px !important;
          }

          .select2-selection__rendered {
            padding-left: 25px !important;
            padding-right: 25px !important;

            @media (max-width: $xs) {
              padding-left: 15px !important;
              padding-right: 15px !important;
            }
          }
        }
      }
    }

    .table-holder {
      width: 100%;
      overflow: hidden;
      overflow-x: auto;

      table {
        border-spacing: 0;
        border-collapse: collapse;
        font-size: 16px;
        width: 100%;
        min-width: 700px;

        thead {
          text-align: left;
          font-weight: 500;
          color: $text-color;

          & > tr {
            line-height: 1;

            & > th {
              padding-bottom: 32px;

              @media (max-width: $md) {
                padding-bottom: 20px;
              }
            }
          }
        }

        tbody {
          font-weight: 500;

          & > tr {
            border-top: 1px solid rgba($text-color, 0.502);
            border-bottom: 1px solid rgba($text-color, 0.502);

            & > td {
              height: 82px;
              position: relative;

              @media (max-width: $xs) {
                height: 65px;
              }

              &:first-of-type, &:last-of-type {
                position: relative;

                &::after, &::before {
                  content: '';
                  position: absolute;
                  height: 1px;
                  width: 300px;
                }

                &::before {
                  top: -1px;
                }

                &::after {
                  bottom: -1px;
                }
              }

              &:first-of-type {
                &::after, &::before {
                  left: 0;
                  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba($dark-blue, 0.851));
                }
              }

              &:last-of-type {
                &::after, &::before {
                  right: 0;
                  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba($dark-blue, 0.851));
                }
              }

              &.woocommerce-orders-table__cell-order-number {
                a {
                  color: $red;

                  &:hover {
                    color: $white;
                  }
                }
              }

              &.woocommerce-orders-table__cell-order-status {
                color: $text-color;
              }

              &.woocommerce-orders-table__cell-order-total {
                color: $text-color;

                span.amount {
                  color: $red;
                }
              }

              &.download-product {
                a {
                  color: $red;

                  &:hover {
                    color: $white;
                  }
                }
              }

              &.download-file {
                width: 1%;
                white-space: nowrap;

                & > a {
                  width: 129px;
                  margin-right: 18px;
                  text-align: center;
                  padding-left: 10px;
                  padding-right: 10px;

                  @media (max-width: $lg) {
                    margin-right: 10px;
                  }

                  &:last-of-type {
                    margin-right: 0;
                  }
                }
              }

              &.woocommerce-orders-table__cell-order-actions {
                width: 1%;
                white-space: nowrap;

                & > a {
                  width: 92px;
                  padding-left: 10px;
                  text-align: center;
                  padding-right: 10px;
                  margin-right: 10px;

                  &:last-of-type {
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }
      }

      table.woocommerce-table--order-details {
        thead {
          color: $white;

          & > tr {
            & > th {
              padding-bottom: 22px;

              @media (max-width: $md) {
                padding-bottom: 20px;
              }
            }
          }
        }

        tbody {
          color: $text-color;

          a {
            color: $red;
            &:hover {
              color: $white;
            }
          }

          & > tr {
            &:last-of-type {
              border-bottom: 0;

              &::after, &::before {
                display: none;
              }
            }
            & > td {
              height: 60px;

              .woocommerce-Price-amount {
                color: $red;
              }
            }
          }
        }
      }

      table.woocommerce-MyAccount-paymentMethods {
        thead {
          & > tr {
            & > th {
              padding-bottom: 22px;

              @media (max-width: $md) {
                padding-bottom: 20px;
              }
            }
          }
        }
      }
    }

    .my-account-downloads-pagination, .my-account-orders-pagination {
      margin-top: 30px;
    }
  }

  // dashboard page
  .dashboard-section {
    padding: 50px 50px 15px;

    @media (max-width: $md) {
      padding: 40px 40px 20px;
    }

    @media (max-width: $sm) {
      padding: 20px 20px 0;
    }

    .links-holder {
      display: flex;
      flex-wrap: wrap;
      margin: 40px -17px 0;

      @media (max-width: $md) {
        margin: 40px -10px 0;
      }

      @media (max-width: $xs) {
        margin: 40px 0 0;
      }

      .link {
        width: 33.33%;
        margin-bottom: 35px;
        padding: 0 17px;
        color: $white;
        font-size: 18px;
        font-weight: 500;

        @media (max-width: $lg) {
          width: 50%;
        }

        @media (max-width: $md) {
          width: 33.33%;
          padding: 0 10px;
          margin-bottom: 20px;
        }

        @media (max-width: $sm) {
          width: 50%;
        }

        @media (max-width: $xs) {
          font-size: 16px;
          width: 100%;
          padding: 0;
        }

        &:hover {
          color: $red;

          .icon svg path {
            fill: $red;
          }
        }

        .holder {
          width: 100%;
          height: 179px;
          border-radius: 10px;
          background-color: $dark-blue;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          @media (max-width: $xs) {
            height: 140px;
          }
        }

        .icon {
          width: 45px;
          height: 45px;
          margin-bottom: 25px;

          @media (max-width: $md) {
            width: 40px;
            height: 40px;
            margin-bottom: 20px;
          }

          @media (max-width: $xs) {
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
          }

          svg {
            max-width: 100%;
            max-height: 100%;

            path {
              transition: fill $transition;
              fill: #969fad;
            }
          }
        }
      }
    }
  }

  // addresses page
  .my-account-edit-address-block {
    padding: 50px 50px 40px;

    @media (max-width: $md) {
      padding: 40px;
    }

    @media (max-width: $sm) {
      padding: 20px;
    }

    .manage-addresses {
      margin-bottom: 44px;
      font-size: 16px;

      @media (max-width: $sm) {
        margin-bottom: 30px;
      }

      @media (max-width: $xs) {
        font-size: 14px;
      }

      & > h3 {
        margin-bottom: 20px;

        @media (max-width: $sm) {
          margin-bottom: 10px;
        }
      }

      p {
        color: $text-color;
        font-weight: 500;
        margin: 0;
      }
    }

    .address-block {
      margin-bottom: 40px;

      @media (max-width: $sm) {
        margin-bottom: 30px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      & > h6 {
        margin: 0 0 20px 0;
        font-size: 20px;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 14px;
        font-weight: 500;
        color: $text-color;
        line-height: 1.791;

        a {
          color: $red;
          font-size: 12px;

          &:hover {
            color: $white;
          }
        }

        & > div {
          padding-right: 20px;
        }
      }
    }
  }

  // downloads section
  .downloads-section {
    & > a {
      color: $red;

      &:hover {
        color: $white;
      }
    }
  }

  // orders section
  .orders-section {
    & > a {
      color: $red;

      &:hover {
        color: $white;
      }
    }
  }

  // order details
  .order-details-section {
    .order-details-info {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 40px;
      color: $text-color;

      .order-number {
        color: $red;
      }

      .order-date, .order-status {
        color: $white;
      }
    }

    .downloads-title {
      margin-top: 17px;
    }

    .woocommerce-customer-details {
      margin-top: 47px;

      & > h6 {
        margin-top: 0;
        margin-bottom: 25px;
        font-size: 20px;
      }

      address {
        color: $text-color;
        font-size: 14px;
        line-height: 1.791;

        p {
          margin: 0;
        }
      }
    }

    .woocommerce-order-downloads td.download-file .secondary-button {
      display: none;
    }
  }

  // payment methods section
  .payment-methods-section {
    .woocommerce-Message--info {
      margin: 0;
      color: $text-color;
      font-size: 16px;
      font-weight: 500;
    }

    .button-holder {
      margin-top: 39px;

      @media (max-width: $xs) {
        margin-top: 30px;
      }

      a {
        min-width: 190px;
        text-align: center;
      }
    }

    .woocommerce-MyAccount-paymentMethods {
      .payment-method-actions {
        a {
          margin-right: 20px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }

      a {
        color: $red;

        &.default {
          color: $light-blue;
        }

        &:hover {
          color: $white;
        }
      }
    }
  }

  // add payment method section
  .add-payment-method-section {
    form {
      .form-row.woocommerce-PaymentMethod {
        display: flex;
        color: $white;
        font-size: 16px;

        a {
          color: $red;

          &:hover {
            color: $white;
          }
        }

        input[type="radio"] {
          margin: 7px 15px 0 0;
          height: 100%;
        }

        label {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          img {
            max-width: 40px;
            margin-left: 10px;
          }
        }

        .woocommerce-PaymentBox {
          color: $text-color;

          p {
            margin: 0 0 15px 0;
          }

          fieldset {
            border: 0;
            padding: 0;
            margin: 0;

            .form-row {
              margin-bottom: 30px;

              @media (max-width: $xs) {
                margin-bottom: 25px;
              }

              label {
                display: inline-block;
                font-size: 16px;
                color: $white;
                margin-bottom: 12px;
                line-height: 1;

                .required {
                  color: $red;
                }
              }

              div {
                margin: 0;
              }

              .wc-stripe-elements-field {
                background-color: rgba(0,0,0,0);
                padding: 10px;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}