@import '../components/vars';
body .wrapper {
  min-height: auto;
}
main {
  height: calc(100vh - 86px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: $sm) {
    height: calc(100vh - 75px);
  }

  .products-carousel-section {
    background-color: transparent;
    //padding-bottom: 175px;
    padding-bottom: 2vh;
    padding-top: 34px;
  }

}
footer {
 display: none;
}

//Layout Styles
.test-page {
  /*display: none;*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: -297px;
  opacity: .8;
  pointer-events: none;
}
section {
  //background-color: green;
}