@import '../components/vars';

.single-product {
  .single-product-related-products {
    background-color: rgba($dark-blue, 0.8);
    padding: 105px 0 85px;

    @media (max-width: $sm) {
      padding: 60px 0 40px;
    }

    @media (max-width: $xs) {
      padding: 40px 0 20px;
    }

    .title {
      color: $white;
      margin-bottom: 0;
    }

    .subtitle {
      color: $text-color;
      font-size: 16px;
      margin-bottom: 45px;

      @media (max-width: $md) {
        margin-bottom: 40px;
      }
    }

    .products-container {
      padding-left: 10px;
      padding-right: 0;

      @media (max-width: $md) {
        padding: 0 20px;
      }
    }

    .products-holder {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        list-style-type: none;
        width: 33%;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
        flex-wrap: wrap;

        @media (max-width: $md) {
          width: 50%;
          padding-left: 20px;
          padding-right: 20px;
        }

        @media (max-width: $xs) {
          width: 100%;
          padding-left: 0;
          padding-right: 0;
        }

        & > a {
          @media (max-width: $xs) {
            width: 100%;
          }

          &:hover {
            .woocommerce-loop-product_title {
              color: $red;
            }
          }

          & > img {
            width: 100%;
            display: block;
            border-radius: 10px;
            max-width: 454px;

            @media (max-width: $xs) {
              max-width: 100%;
            }
          }

          .woocommerce-loop-product_title {
            padding-top: 13px;
            color: $white;
            transition: color $transition;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 5px;
          }

          .price {
            color: $red;
            font-weight: 500;
            font-size: 18px;

            @media (max-width: $xs) {
              font-size: 16px;
            }
          }
        }

        .add_to_cart_button, .button {
          display: none;
        }
      }
    }
  }
}