@import '../../../src/scss/components/vars';

.affwp-form {
  margin: 0;

  label {
    font-size: 16px;
    color: $white;
    margin-bottom: 10px;
    display: inline-block;

    span {
      display: block;
      color: $text-color;
    }
  }

  input[type="text"] {
    padding: 13px 25px;

    &::placeholder {
      color: #263041;
    }

    @media (max-width: $xs) {
      padding: 10px 15px;
    }
  }
}

.affwp-wrap {
  margin-bottom: 45px;

  @media (max-width: $sm) {
    margin-bottom: 30px;
  }

  @media (max-width: $xs) {
    margin-bottom: 20px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .description {
    color: $text-color;
    font-size: 16px;
    margin-top: 5px;
  }
}

.affiliate-wp-dashboard {
  padding-bottom: 100px;

  @media (max-width: $md) {
    padding-bottom: 80px;
  }

  @media (max-width: $sm) {
    padding-bottom: 60px;
  }
}

#affwp-affiliate-dashboard {

  #affwp-affiliate-dashboard-tabs {
    background: linear-gradient(to right, #0f2341, #0c182c);
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0;

    @media (max-width: $md) {
      margin-bottom: 60px;
    }

    @media (max-width: $sm) {
      flex-direction: column;
      padding: 20px 40px;
    }

    @media (max-width: $xs) {
      padding: 20px;
    }

    & > li {
      margin: 15px 33px 15px;
      padding: 0;

      @media (max-width: $sm) {
        margin: 15px 0;
      }

      @media (max-width: $xs) {
        margin: 12px 0;
      }

      &.active > a {
        color: $red;
      }

      & > a {
        color: $white;

        &:hover {
          color: $red;
        }
      }
    }
  }

  #affwp-affiliate-dashboard-url-generator {
    h3 {
      margin: 0 0 45px 0;

      @media (max-width: $xs) {
        margin: 0 0 20px 0;
      }
    }

    h6 {
      margin: 0 0 12px 0;
      font-size: 22px;
    }

    p {
      font-size: 16px;
      color: $text-color;
      margin: 0;
    }

    .affiliate-info {
      padding-bottom: 45px;
      position: relative;
      border-bottom: 1px solid rgba($text-color, 0.502);

      @media (max-width: $sm) {
        padding-bottom: 40px;
      }

      @media (max-width: $xs) {
        padding-bottom: 30px;
      }

      &:after, &::before {
        content: '';
        position: absolute;
        bottom: -1px;
        height: 1px;
        width: 200px;

        @media (max-width: $md) {
          width: 100px;
        }

        @media (max-width: $sm) {
          width: 60px;
        }
      }

      &:after {
        right: 0;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba($dark-blue, 0.851));
      }

      &:before {
        left: 0;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba($dark-blue, 0.851));
      }

      p {
        margin-bottom: 12px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .referral-url-holder {
        .referral-url {
          display: flex;
          align-items: center;
          margin-top: 22px;

          @media (max-width: $xs) {
            margin-top: 20px;
          }

          p {
            color: $red;
            font-weight: 500;
          }

          .text-to-copy {
            opacity: 0;
            position: absolute;
            left: -200px;
          }

          .copy-btn {
            cursor: pointer;
            margin-left: 26px;
            width: 20px;
            height: 20px;
            transition: opacity $transition;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }

    .referral-url-generator {
      padding-top: 45px;

      @media (max-width: $sm) {
        padding-top: 40px;
      }

      @media (max-width: $xs) {
        padding-top: 30px;
      }

      #affwp-generate-ref-url {
        margin-top: 45px;
        max-width: 840px;

        @media (max-width: $sm) {
          margin-top: 40px;
        }

        .copy-link-holder {
          position: relative;

          input {
            padding-right: 100px;

            @media (max-width: $sm) {
              padding-right: 25px;
            }

            @media (max-width: $xs) {
              padding-right: 15px;
            }
          }

          .copy-btn {
            cursor: pointer;
            position: absolute;
            top: 17px;
            right: 11px;
            font-size: 16px;
            color: $light-blue;
            transition: color $transition;

            @media (max-width: $sm) {
              position: static;
              margin-top: 8px;
            }

            &:hover {
              color: $white;
            }
          }
        }

        .affwp-referral-url-submit-wrap {
          margin-top: 50px;

          @media (max-width: $sm) {
            margin-top: 40px;
          }

          @media (max-width: $xs) {
            margin-top: 30px;
          }

          .primary-button {
            width: auto;
            padding: 11px 31px;
            min-width: 190px;

            @media (max-width: $xs) {
              padding: 11px 25px;
              min-width: 0;
            }
          }
        }
      }
    }
  }

  // Statistics
  #affwp-affiliate-dashboard-referral-counts, #affwp-affiliate-dashboard-earnings-stats {
    .referral-counts-blocks, .earnings-blocks {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -18px 45px;

      @media (max-width: $lg) {
        margin: 0 -8px 45px;
      }

      @media (max-width: $md) {
        margin: 0 -8px 24px;
      }

      @media (max-width: $xs) {
        margin: 0 0 19px;
      }

      .block {
        padding: 0 18px;

        @media (max-width: $lg) {
          padding: 0 8px;
        }

        @media (max-width: $md) {
          margin-bottom: 16px;
        }

        @media (max-width: $xs) {
          padding: 0;
        }

        .holder {
          background: linear-gradient(to right, #0f213f, #0c182c);
          display: flex;
          align-items: center;
          border-radius: 10px;
          width: 100%;
          padding: 38px 35px;
          height: 100%;

          @media (max-width: $lg) {
            padding: 30px 20px;
          }

          @media (max-width: $md) {
            padding: 25px 20px;
          }

          @media (max-width: $xs) {
            padding: 20px 15px;
          }
        }

        .icon {
          min-width: 20px;
          max-width: 35px;
          margin-right: 20px;

          @media (max-width: $md) {
            max-width: 25px;
            margin-right: 15px;
          }

          img {
            width: 100%;
          }
        }

        .info {
          display: flex;
          flex-direction: column;

          .title {
            color: #9daac0;
            margin-bottom: 4px;
            font-weight: bold;
            font-size: 20px;

            @media (max-width: $lg) {
              font-size: 18px;
            }

            @media (max-width: $xs) {
              font-size: 16px;
            }
          }

          .value {
            font-size: 40px;
            color: $white;
            line-height: 1;
            font-weight: bold;

            @media (max-width: $lg) {
              font-size: 35px;
            }

            @media (max-width: $md) {
              font-size: 30px;
            }

            @media (max-width: $xs) {
              font-size: 25px;
            }
          }
        }
      }
    }
  }

  #affwp-affiliate-dashboard-referral-counts {
    h3 {
      margin-bottom: 45px;

      @media (max-width: $xs) {
        margin-bottom: 20px;
      }
    }

    h6 {
      font-size: 22px;
      margin-top: 0;
      margin-bottom: 15px;
    }

    .referral-counts-blocks {
      .block {
        width: 25%;

        @media (max-width: $md) {
          width: 33.33%;
        }

        @media (max-width: $sm) {
          width: 50%;
        }

        @media (max-width: $xs) {
          width: 100%;
        }
      }
    }
  }

  #affwp-affiliate-dashboard-earnings-stats {
    h6 {
      font-size: 22px;
      margin: 0 0 15px 0;
    }

    .earnings-blocks {
      .block {
        width: 33.33%;

        @media (max-width: $sm) {
          width: 50%;
        }

        @media (max-width: $xs) {
          width: 100%;
        }
      }
    }
  }

  #affwp-affiliate-dashboard-campaign-stats {
    h6 {
      font-size: 22px;
      margin: 0 0 15px 0;
    }
  }

  .table-holder-bg {
    background-color: rgba($dark-blue, 0.471);
    border-radius: 10px;
    padding: 38px 50px 12px;

    @media (max-width: $md) {
      padding: 30px 30px 0;
    }

    @media (max-width: $sm) {
      padding: 30px 20px 0;
    }

    .table-holder {
      width: 100%;
      overflow: hidden;
      overflow-x: auto;

      table {
        border-spacing: 0;
        border-collapse: collapse;
        width: 100%;
        min-width: 700px;
        max-width: 1315px;

        thead {
          text-align: left;
          color: $text-color;
          font-size: 20px;

          @media (max-width: $xs) {
            font-size: 18px;
          }

          & > tr {
            line-height: 1;

            & > th {
              padding-bottom: 32px;

              @media (max-width: $md) {
                padding-bottom: 20px;
              }
            }
          }
        }

        tbody {
          font-size: 18px;

          @media (max-width: $xs) {
            font-size: 16px;
          }

          & > tr {
            border-top: 1px solid rgba($text-color, 0.502);
            border-bottom: 1px solid rgba($text-color, 0.502);

            & > td {
              height: 82px;
              position: relative;

              @media (max-width: $xs) {
                height: 65px;
              }

              &:first-of-type, &:last-of-type {
                position: relative;

                &::after, &::before {
                  content: '';
                  position: absolute;
                  height: 1px;
                  width: 300px;

                  @media (max-width: $md) {
                    width: 150px;
                  }

                  @media (max-width: $sm) {
                    width: 100px;
                  }

                  @media (max-width: $xs) {
                    width: 50px;
                  }
                }

                &::before {
                  top: -1px;
                }

                &::after {
                  bottom: -1px;
                }
              }

              &:first-of-type:not(.affwp-table-no-data) {
                color: $red;
                font-weight: 500;
              }

              &:first-of-type {
                &::after, &::before {
                  left: 0;
                  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba($dark-blue, 0.851));
                }
              }

              &:last-of-type {
                &::after, &::before {
                  right: 0;
                  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba($dark-blue, 0.851));
                }
              }

              &.affwp-table-no-data {
                &::before {
                  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba($dark-blue, 0.851));
                }
                &::after {
                  top: -1px;
                  left: auto;
                  right: 0;
                }
              }
            }

            &:last-of-type {
              border-bottom: 0;

              & > td:not(.affwp-table-no-data) {
                &::after {
                  display: none;
                }
              }
            }
          }
        }

        &#affwp-affiliate-dashboard-referrals {
          max-width: 1275px;

          tbody {
            & > tr {
              td {

                &:first-of-type {
                  color: $white;
                  font-weight: 400;
                  min-width: 120px;

                  @media (max-width: $md) {
                    min-width: 80px;
                  }

                  @media (max-width: $sm) {
                    min-width: 50px;
                  }
                }

                &:nth-of-type(2) {
                  color: $red;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }

  // Settings
  #affwp-affiliate-dashboard-profile {
    #affwp-affiliate-dashboard-profile-form {
      & > h3 {
        margin: 0 0 40px 0;

        @media (max-width: $xs) {
          margin: 0 0 20px 0;
        }
      }
    }
  }

  #affwp-affiliate-dashboard-payouts-service, #affwp-affiliate-dashboard-profile-form {
    .affwp-wrap {
      margin-bottom: 30px;

      @media (max-width: $xs) {
        margin-bottom: 20px;
      }

      &.affwp-send-notifications-wrap, &.affwp-payout-service-business-owner-wrap {
        input[type="checkbox"] {
          margin-right: 10px;
        }

        label {
          color: $text-color;
          margin: 0;
          transition: color $transition;

          &:hover {
            color: $white;
          }
        }
      }

      &.affwp-payout-service-dob-wrap {
        .select2 {
          min-width: 100px;

          @media (max-width: $xs) {
            min-width: 90px;
          }
        }
      }

      .select2 {
        max-width: 100% !important;
      }

      .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
        height: 52px !important;

        @media (max-width: $xs) {
          height: 46px !important;
        }
      }
      .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 25px !important;

        @media (max-width: $xs) {
          padding-left: 15px !important;
        }
      }
    }

    a {
      color: $red;

      &:hover {
        color: $white;
      }
    }

    .primary-button {
      padding: 11px 31px;
      min-width: 232px;

      @media (max-width: $xs) {
        padding: 11px 25px;
        min-width: 0;
      }
    }
  }

  #affwp-affiliate-dashboard-payouts-service {
    h4 {
      font-size: 30px;
      line-height: 1.333;

      @media (max-width: $xs) {
        font-size: 28px;
      }
    }

    .affwp-payout-service-account-type-wrap, .affwp-payout-service-country-wrap {
      display: flex;
      flex-direction: column;

      .select2 {
        width: 100% !important;
      }
    }
  }

  // Graphs
  #affwp-affiliate-dashboard-graphs {
    min-height: 881px;

    @media (max-width: $lg) {
      min-height: 893px;
    }

    @media (max-width: $md) {
      min-height: 784px;
    }

    @media (max-width: $sm) {
      min-height: 684px;
    }

    @media (max-width: $xs) {
      min-height: 536px;
    }

    h3 {
      margin-bottom: 40px;

      @media (max-width: $xs) {
        margin-bottom: 20px;
      }
    }

    #affwp-graphs-filter {
      margin-bottom: 35px;

      @media (max-width: $xs) {
        margin-bottom: 20px;
      }

      .tablenav {
        display: flex;
        align-items: center;

        .select2 {
          width: 144px !important;
          margin-right: 12px;
          text-align: center;
        }

        .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
          height: 38px !important;
        }

        input[type="submit"] {
          background-color: $light-blue;
          padding: 12px 19px;
          font-size: 14px;
          min-width: 83px;

          @media (max-width: $xs) {
            padding: 12px 25px;
            min-width: 0;
          }

          &:hover {
            box-shadow: 0px 0px 15px 1px rgba($light-blue, 0.5);
          }
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
          width: 100%;
        }
      }
    }

    .affwp-graph {
      margin: 0;
      width: 100% !important;
      height: 610px !important;

      @media (max-width: $md) {
        height: 500px !important;
      }

      @media (max-width: $sm) {
        height: 400px !important;
      }

      @media (max-width: $xs) {
        height: 300px !important;
      }
    }

    .tickLabel {
      color: $text-color;
      font-size: 20px;

      @media (max-width: $md) {
        font-size: 18px;
      }

      @media (max-width: $sm) {
        font-size: 16px;
      }

      @media (max-width: $xs) {
        font-size: 14px;
      }
    }

    .legend {
      & > div:first-of-type {
        display: none;
      }

      table {
        position: static !important;
        width: 100%;
        max-width: 1383px;
        margin: 85px auto;

        @media (max-width: $lg) {
          margin: 20px 0 0 0;
        }

        .legendLabel {
          padding: 0 0 0 16px;
          font-size: 18px;
          color: $white;
          font-weight: 500;
          
          @media (max-width: $xs) {
            font-size: 16px;
            padding: 0 0 0 10px;
            font-weight: normal;
          }
        }

        .legendColorBox {
          max-width: 18px;
          max-height: 18px;
          width: 18px;
          height: 18px;

          & > div {
            border: 0 !important;
            width: 18px;
            height: 18px;

            & > div {
              width: 100% !important;
              height: 100% !important;
              border-width: 9px !important;
              margin-top: -1px;
            }
          }
        }

        tbody {
          tr {
            display: table-cell;

            @media (max-width: $lg) {
              display: table-row;
            }
          }
        }
      }
    }
  }
}