@import '../../../src/scss/components/vars';

.single-product-hero {
  background-color: $dark-blue;
  padding: 71px 0 85px;

  @media (max-width: $md) {
    padding: 70px 0;
  }

  @media (max-width: $sm) {
    padding: 60px 0;
  }

  @media (max-width: $xs) {
    padding: 40px 0;
  }

  &.package {
    padding: 70px 0;

    @media (max-width: $sm) {
      padding: 60px 0;
    }

    @media (max-width: $xs) {
      padding: 40px 0;
    }
  }

  .section-holder {
    display: flex;
    align-items: center;

    @media (max-width: $md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .content-col {
    min-width: 500px;

    @media (max-width: $sm) {
      min-width: 0;
    }

    & > .title {
      position: relative;

      &.compatible-box {
        padding-right: 180px;

        @media (max-width: $md) {
          padding-right: 50px;
        }
      }

      h2 {
        margin-bottom: 0;
        color: $white;
        position: relative;

        img {
          cursor: pointer;
          position: absolute;
          width: 24px;
          height: 24px;
          top: 25px;
          right: -39px;

          @media (max-width: $sm) {
            top: 21px;
          }

          @media (max-width: $xs) {
            top: 18px;
          }
        }
      }

      .compatible-with-box {
        display: none;
        border-radius: 10px;
        background-color: $dark-blue;
        background: linear-gradient(90deg, #0f213f, #0c182c);
        padding: 24px 30px;
        max-width: 283px;
        text-align: center;
        position: absolute;
        top: 75px;
        right: 10px;
        z-index: 1;

        @media (max-width: $md) {
          right: 0;
        }

        .title {
          color: $white;
          margin-bottom: 10px;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.25;
        }

        .text {
          color: $text-color-light;
          font-size: 12px;
        }

        .items {
          padding-top: 13px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;

          .item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 6px;
          }
        }
      }
    }

    .category {
      color: $text-color;
      line-height: 1.265;
      font-size: 24px;

      @media (max-width: $md) {
        font-size: 22px;
      }

      @media (max-width: $sm) {
        font-size: 20px;
      }

      @media (max-width: $xs) {
        font-size: 18px;
      }
    }

    .buttons-holder {
      padding-top: 45px;
      display: flex;
      align-items: center;

      @media (max-width: $sm) {
        padding-top: 40px;
      }

      @media (max-width: $xs) {
        padding-top: 30px;
      }

      button:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .video-col {
    width: 100%;
    max-width: 700px;
    height: 390px;
    position: relative;
    margin-left: auto;

    @media (max-width: $md) {
      margin-top: 60px;
      margin-left: 0;
      max-width: 100%;
    }

    @media (max-width: $xs) {
      display: none;
    }

    iframe {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
}

.product-trailer-popup {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark-blue, 0.7);

  .container {
    height: 100%;
  }

  .popup-holder {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .close-product-trailer-popup-btn {
    position: absolute;
    z-index: 1;
    top: 13px;
    right: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba($white, 0.149);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover svg {
      opacity: 0.6;
    }

    svg {
      display: block;
      width: 14px;
      height: 14px;
      opacity: 0.4;
      transition: opacity $transition;
    }
  }

  iframe {
    width: 100%;
    max-width: 800px;
    height: 500px;

    @media (max-width: $sm) {
      height: 400px;
    }

    @media (max-width: $xs) {
      height: 250px;
    }
  }
}