@import '../../../src/scss/components/vars';

.hero-search {
  background-color: $dark-blue;
  .overlay {
    background-repeat: no-repeat;
    height: 100%;
    background-position: right;
    position: absolute;
    width: 100%;
    z-index: 0;
    @media (max-width: $lg) {
      background-position: center center;
      left: 0;
      right: 0;
      &:after {
        content: '';
        background-color: rgba($dark-blue, .8);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }
    }
  }
  .container {
    position: relative;
    z-index: 1;
    @media (max-width: $xs) {
      background-size: cover;
    }
  }

  .section-holder {
    position: relative;
    z-index: 1;
    padding: 70px 0;
    @media (max-width: $lg) {
      padding: 40px 0;
      background-size: auto;
      background-position: center left;
    }
  }

  h1 {
    margin-bottom: 0;
    line-height: 1.147;
    color: $white;
    font-size: 52px;

    @media (max-width: $sm) {
      font-size: 47px;
    }

    @media (max-width: $xs) {
      font-size: 42px;
    }
  }

  .subtitle {
    margin-top: 8px;
    font-size: 18px;
    line-height: 1.433;
    color: $text-color;

    @media (max-width: $xs) {
      font-size: 16px;
    }
  }

  .search-form-holder {
    margin-top: 32px;

    @media (max-width: $sm) {
      margin-top: 30px;
    }

    @media (max-width: $xs) {
      margin-top: 20px;
    }
  }
}

.page-template-template-support,
.archive.tax-section, .single.single-support,
.search.search-results {
  .hero-search {
    h1 {
      font-size: 46px;
      line-height: 1.396;

      @media (max-width: $sm) {
        font-size: 40px;
      }

      @media (max-width: $xs) {
        font-size: 36px;
      }
    }

    .search-form-holder {
      margin-top: 20px;
    }
  }
}

.archive.tax-section .hero-search {
  .container {
    background-image: url("../../../../img/support-hero-bg.png");
    background-position: 93% 0;
    background-size: contain;

    @media (max-width: $xs) {
      background-position: center top;
      background-size: cover;
    }
  }
}
