@import '../../../src/scss/components/vars';

.hero-search {
  background-color: $dark-blue;

  .container {
    background-image: url("../../../../img/hero-search-bg.png");
    background-repeat: no-repeat;
    background-position: 92% 35%;
    background-size: 45%;

    @media (max-width: $xs) {
      background-size: cover;
    }
  }

  .section-holder {
    padding: 40px 0;

    @media (max-width: $lg) {
      background-size: auto;
      background-position: center left;
    }
  }

  h1 {
    margin-bottom: 0;
    line-height: 1.147;
    color: $white;
    font-size: 52px;

    @media (max-width: $sm) {
      font-size: 47px;
    }

    @media (max-width: $xs) {
      font-size: 42px;
    }
  }

  .subtitle {
    margin-top: 8px;
    font-size: 18px;
    line-height: 1.433;
    color: $text-color;

    @media (max-width: $xs) {
      font-size: 16px;
    }
  }

  .search-form-holder {
    margin-top: 32px;

    @media (max-width: $sm) {
      margin-top: 30px;
    }

    @media (max-width: $xs) {
      margin-top: 20px;
    }
  }
}

.page-template-template-support,
.archive.tax-section, .single.single-support,
.search.search-results {
  .hero-search {
    h1 {
      font-size: 46px;
      line-height: 1.396;

      @media (max-width: $sm) {
        font-size: 40px;
      }

      @media (max-width: $xs) {
        font-size: 36px;
      }
    }

    .search-form-holder {
      margin-top: 20px;
    }
  }
}

.archive.tax-section .hero-search {
  .container {
    background-image: url("../../../../img/support-hero-bg.png");
    background-position: 93% 0;
    background-size: contain;

    @media (max-width: $xs) {
      background-position: center top;
      background-size: cover;
    }
  }
}