* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  padding: 87px 0 0 0;
  margin: 0;
  font-family: $font-family-base;
  font-weight: normal;
  font-size: $font-size-base;
  line-height: $line-height;
  color: $white;
  min-width: 300px;
  position: relative;
  background-color: $dark;
  display: flex;
  height: auto;

  @media (max-width: $sm) {
    padding: 75px 0 0 0;
  }

  &.opened-modal {
    position: fixed;
    width: 100%;

    .header {
      background-color: #070f1c;
    }
  }
}

.container {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;

  @media (max-width: $xs) {
    padding: 0 20px;
  }

  &.container-large {
    max-width: 1826px;
  }

  &.container-small {
    max-width: 1404px;
  }

  &.container-xsmall {
    max-width: 1340px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  &.is-blurred {
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }

  .footer {
    margin-top: auto;
  }
}

iframe {
  border: 0;
  border-radius: 0;
  outline: none;
}

.clear-both {
  clear: both;
}

.product-pop-out {
  display: none;
}

.slick-dots {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;

  li {
    list-style-type: none;
    margin-right: 13px;
    width: 38px;
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;

    @media (max-width: $sm) {
      width: 30px;
    }

    @media (max-width: $xs) {
      width: 20px;
      margin-right: 5px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.slick-active, &:hover {
      button {
        background-color: $white;
      }
    }

    button {
      cursor: pointer;
      color: $white;
      font-size: 0;
      height: 2px;
      transition: background-color $transition;
      background-color: rgba($white, 0.2);
      width: 100%;
    }
  }
}

.slick-prev, .slick-next {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-repeat: no-repeat;
  z-index: 1;
  cursor: pointer;
  transition: opacity $transition;
  background-size: 13px;
  background-position: center;

  &:hover {
    opacity: 0.7;
  }
}

.slick-prev {
  left: -10px;
  background-image: url("../img/prev-arrow.svg");
}

.slick-next {
  right: -10px;
  background-image: url("../img/next-arrow.svg");
}

.posts-pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span, a, button {
    padding: 0 13px;
    font-size: 14px;
    color: $text-color;

    @media (max-width: $xs) {
      padding: 0 9px;
    }

    &.current {
      color: $red;

      &:hover {
        color: $red;
      }
    }
  }

  a, button {
    cursor: pointer;
  }

  a, button {
    &:hover {
      color: $white;
    }
  }

  a.prev, a.next, button.prev, button.next {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &:hover svg path {
      fill: $white;
    }

    &.hidden {
      display: none;
    }

    svg {
      display: block;
      width: 10px;

      path {
        transition: fill $transition;
        fill: $text-color;
      }
    }
  }

  a.prev {
    margin-right: 10px;
  }

  a.next {
    margin-left: 10px;
  }
}

.blockUI.blockOverlay {
  background-color: rgba($dark-blue, 0.5) !important;
}

.breadcrumbs {
  color: $text-color-dark;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;

  span {
    padding-bottom: 3px;
  }

  a {
    padding-bottom: 3px;
    margin-right: 16px;
    color: $text-color;

    &:hover {
      color: $red;
    }

    &:last-of-type + svg path {
      fill: $text-color-dark;
    }
  }

  svg {
    width: 10px;
    margin-right: 16px;
    padding-bottom: 3px;

    path {
      fill: $text-color;
    }
  }
}

.empty-cart-notice {
  display: none;
}

.woocommerce-message, .woocommerce-error {
  margin: 0 0 40px 0;
  padding: 0;

  @media (max-width: $xs) {
    margin-bottom: 20px;
  }

  a {
    color: $red;

    &:hover {
      color: $white;
    }
  }

  li {
    list-style-type: none;
  }
}

.copied-popup {
  position: fixed;
  bottom: 10px;
  right: 0;
  display: none;
  svg{
    path {
      fill: $red;
    }
    width: 12px;
    height: 12px;
  }
  .holder {
    align-items: center;
    display: flex;
    border-radius: 10px;
    background: linear-gradient(to right, #0f213f 0%, #0c182c 100%);
    padding: 20px 30px;

    @media (max-width: $xs) {
      padding: 20px;
    }

    .text {
      color: $white;
      font-size: 16px;
      margin-left: 5px;
      @media (max-width: $xs) {
        font-size: 14px;
      }
    }
  }
}

/* STYLES FOR WP CONTENT */
.page-content {
  clear: both;

  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.aligncenter {
  text-align: center;
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

img.alignleft, .wp-caption.alignleft {
  float: left;
  margin-right: 15px;
}

img.alignright, .wp-caption.alignright {
  float: right;
  margin-left: 15px;
}

.wp-caption {
  max-width: 100%;

  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }
}

.wp-caption-text {
  font-family: $font-family-base;
  font-size: 18px;
}

@media (max-width: $xs) {
  img.alignleft, .wp-caption.alignleft {
    float: none;
    margin-right: 0;
  }
  img.alignright, .wp-caption.alignright {
    float: none;
    margin-left: 0;
  }
}

/* END STYLES FOR WP CONTENT */

.sidebar {
  width: 100%;
  min-width: 250px;
  max-width: 250px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;

  @media (max-width: $lg) {
    margin-left: 60px;
  }

  @media (max-width: $md) {
    margin: 40px 0 0 0;
    padding-top: 0;
    max-width: 100%;
    min-width: 0;
  }

  h6 {
    margin: 0 0 14px 0;

    &:not(:first-of-type) {
      margin-top: 75px;

      @media (max-width: $md) {
        margin-top: 60px;
      }

      @media (max-width: $sm) {
        margin-top: 40px;
      }

      @media (max-width: $xs) {
        margin-top: 30px;
      }
    }
  }

  .viewed_posts {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;

      &:last-of-type a {
        margin-bottom: 0;
      }

      a {
        margin-bottom: 14px;
      }
    }
  }

  a {
    font-size: 15px;
    color: $text-color;
    font-weight: 500;
    margin-bottom: 14px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover, &.current {
      color: $red;
    }
  }
}

// GDPR Cookie Consent plugin
#cookie-law-info-bar {
  opacity: 1 !important;
  background: linear-gradient(to right, #0f213f 0, #0c182c 100%) !important;
  color: $white !important;
  padding: 15px 40px 15px 25px !important;
  box-shadow: none;
  border-radius: 8px;
  bottom: 20px !important;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 80px);
  max-width: 1560px;

  @media (max-width: $xs) {
    width: calc(100% - 40px);
  }

  @media (max-width: 985px) {
    padding: 15px 25px !important;
  }
  @media (max-width: $xs) {
    padding: 15px 20px !important;
  }

  .cli-bar-message {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    line-height: 20px;
    padding-right: 40px;
    color: #7080a3;
    max-width: 770px;

    @media (max-width: 985px) {
      padding-right: 0;
    }

    a {
      color: $red !important;

      &:hover {
        color: $white !important;
      }
    }
  }

  .cli-bar-btn_container {
    @media (max-width: 985px) {
      margin-top: 15px;
    }

    & > a {
      font-size: 13px;
      margin: 0 !important;
      height: 31px;
    }

    .wt-cli-accept-all-btn {
      background-color: $red !important;
      margin-left: 13px !important;
      padding: 8px 29px;
      min-width: 116px;
    }

    .cli-plugin-main-button {
      color: $white !important;
      background-color: rgba(0, 0, 0, 0) !important;
      max-width: 130px;
      padding: 8px 20px;
      &:hover {
        opacity: .8
      }
    }
  }
}

.cli-modal-open .cli-modal {
  overflow-y: hidden;
}

.cli-modal .cli-modal-dialog {
  max-width: 647px;

  .cli-modal-close {
    padding: 0;
    min-width: 0;
    width: 24px;
    height: 24px;
    top: 12px;
    right: 7px;
    cursor: pointer;

    &:hover {
      svg {
        fill: $white;
      }
    }

    svg {
      width: 24px;
      height: 24px;
      fill: $text-color;
      transition: fill $transition
    }
  }

  .cli-modal-content {
    background: linear-gradient(to right,#0f213f 0,#0c182c 100%) !important;
    border-radius: 8px;
    padding: 36px 20px 18px;

    .cli-modal-body {
      h4 {
        margin: 0 0 16px 0;
        font-size: 16px;
        line-height: 14px;
        color: $white;
      }

      .cli-privacy-content-text {
        color: #6d7da1;
        font-size: 14px;
        line-height: 19px;
        font-weight: 500;
      }

      a.cli-privacy-readmore {
        color: $red;
        font-size: 14px;
        line-height: 19px;
        margin-top: 11px;
        text-decoration: underline;

        &:hover {
          color: $white;
        }
      }

      .cli-tab-section-container {
        margin-top: 18px;
        padding: 0 !important;

        .cli-tab-section {
          margin: 0 0 5px 0;

          &:last-of-type {
            margin: 0;
          }

          .cli-tab-header {
            border-radius: 8px;
            background-color: #070d1a;
            font-size: 14px;
            padding: 12px 15px;
            min-height: 46px;
            align-items: center;

            a {
              color: $white;
              font-weight: 500;

              &::before {
                border-color: #4f5c70;
              }
            }

            span.cli-necessary-caption {
              color: #969fad;
              font-weight: 500;
              font-size: 12px;
              line-height: 1;
            }

            .cli-switch input:checked + .cli-slider {
              background-color: $red;

              &::before {
                transform: translateX(17px);
              }
            }

            .cli-switch {
              height: 20px;

              .cli-slider {
                width: 37px;
                background-color: #1a263c;
                transition: background-color $transition;

                &::before {
                  color: $white;
                  width: 14px;
                  height: 14px;
                  top: 3px;
                  transition: transform $transition;
                }

                &::after {
                  color: #969fad;
                  font-weight: 500;
                  font-size: 12px;
                  right: 45px;
                }
              }
            }
          }

          .cli-tab-content {
            border-radius: 8px;
            background-color: #070d1a;
            font-size: 14px;
            padding: 12px 15px;

            .wt-cli-cookie-description {
              color: $white;
            }

            table.cookielawinfo-winter {
              background: $blue;
              font-family: $font-family-base;
              font-size: 14px;
              font-weight: 400;

              thead th {
                background-color: $blue;
              }

              tbody {
                border: 0;
                color: $white;

                tr {
                  background-color: $blue;
                  transition: color $transition;

                  &:hover {
                    color: $red;
                  }

                  td {
                    background: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    .cli-tab-footer {
      padding: 0;
      margin-top: 17px;

      .wt-cli-privacy-btn  {
        font-size: 15px;
        text-transform: lowercase;
        padding: 11px 23px;
        background-color: $red !important;
        border-radius: 10px;

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}

.color{
  &--red{
    color: $red;
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $black;
  -webkit-border-radius: 0;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: $text-color;
}

:root{
  scrollbar-face-color: $text-color;
  scrollbar-track-color: $black;
  scrollbar-color: $text-color $black;
  scrollbar-width: thin;
}
