* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  padding: 87px 0 0 0;
  margin: 0;
  font-family: $font-family-base;
  font-weight: normal;
  font-size: $font-size-base;
  line-height: $line-height;
  color: $white;
  min-width: 300px;
  position: relative;
  background-color: $dark;
  display: flex;
  height: auto;

  @media (max-width: $sm) {
    padding: 75px 0 0 0;
  }

  &.opened-modal {
    position: fixed;
    width: 100%;

    .header {
      background-color: #070f1c;
    }
  }
}

.container {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;

  @media (max-width: $xs) {
    padding: 0 20px;
  }

  &.large {
    max-width: 1826px;
  }

  &.small {
    max-width: 1404px;
  }

  &.xsmall {
    max-width: 1340px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  &.is-blurred {
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }

  .footer {
    margin-top: auto;
  }
}

iframe {
  border: 0;
  border-radius: 0;
  outline: none;
}

.clear-both {
  clear: both;
}

.product-pop-out {
  display: none;
}

.slick-dots {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;

  li {
    list-style-type: none;
    margin-right: 13px;
    width: 38px;
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;

    @media (max-width: $sm) {
      width: 30px;
    }

    @media (max-width: $xs) {
      width: 20px;
      margin-right: 5px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.slick-active, &:hover {
      button {
        background-color: $white;
      }
    }

    button {
      cursor: pointer;
      color: $white;
      font-size: 0;
      height: 2px;
      transition: background-color $transition;
      background-color: rgba($white, 0.2);
      width: 100%;
    }
  }
}

.slick-prev, .slick-next {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-repeat: no-repeat;
  z-index: 1;
  cursor: pointer;
  transition: opacity $transition;
  background-size: 13px;
  background-position: center;

  &:hover {
    opacity: 0.7;
  }
}

.slick-prev {
  left: -10px;
  background-image: url("../img/prev-arrow.svg");
}

.slick-next {
  right: -10px;
  background-image: url("../img/next-arrow.svg");
}

.posts-pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span, a, button {
    padding: 0 13px;
    font-size: 14px;
    color: $text-color;

    @media (max-width: $xs) {
      padding: 0 9px;
    }

    &.current {
      color: $red;

      &:hover {
        color: $red;
      }
    }
  }

  a, button {
    cursor: pointer;
  }

  a, button {
    &:hover {
      color: $white;
    }
  }

  a.prev, a.next, button.prev, button.next {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &:hover svg path {
      fill: $white;
    }

    &.hidden {
      display: none;
    }

    svg {
      display: block;
      width: 10px;

      path {
        transition: fill $transition;
        fill: $text-color;
      }
    }
  }

  a.prev {
    margin-right: 10px;
  }

  a.next {
    margin-left: 10px;
  }
}

.blockUI.blockOverlay {
  background-color: rgba($dark-blue, 0.5) !important;
}

.breadcrumbs {
  color: $text-color-dark;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;

  span {
    padding-bottom: 3px;
  }

  a {
    padding-bottom: 3px;
    margin-right: 16px;
    color: $text-color;

    &:hover {
      color: $red;
    }

    &:last-of-type + svg path {
      fill: $text-color-dark;
    }
  }

  svg {
    width: 10px;
    margin-right: 16px;
    padding-bottom: 3px;

    path {
      fill: $text-color;
    }
  }
}

.empty-cart-notice {
  display: none;
}

.woocommerce-message, .woocommerce-error {
  margin: 0 0 40px 0;
  padding: 0;

  @media (max-width: $xs) {
    margin-bottom: 20px;
  }

  a {
    color: $red;

    &:hover {
      color: $white;
    }
  }

  li {
    list-style-type: none;
  }
}

/* STYLES FOR WP CONTENT */
.page-content {
  clear: both;

  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.aligncenter {
  text-align: center;
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

img.alignleft, .wp-caption.alignleft {
  float: left;
  margin-right: 15px;
}

img.alignright, .wp-caption.alignright {
  float: right;
  margin-left: 15px;
}

.wp-caption {
  max-width: 100%;

  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }
}

.wp-caption-text {
  font-family: $font-family-base;
  font-size: 18px;
}

@media (max-width: $xs) {
  img.alignleft, .wp-caption.alignleft {
    float: none;
    margin-right: 0;
  }
  img.alignright, .wp-caption.alignright {
    float: none;
    margin-left: 0;
  }
}

/* END STYLES FOR WP CONTENT */

.sidebar {
  width: 100%;
  max-width: 200px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;

  @media (max-width: $lg) {
    margin-left: 60px;
  }

  @media (max-width: $md) {
    margin: 40px 0 0 0;
    padding-top: 0;
    max-width: 100%;
  }

  h6 {
    margin: 0 0 14px 0;

    &:not(:first-of-type) {
      margin-top: 75px;

      @media (max-width: $md) {
        margin-top: 60px;
      }

      @media (max-width: $sm) {
        margin-top: 40px;
      }

      @media (max-width: $xs) {
        margin-top: 30px;
      }
    }
  }

  .viewed_posts {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;

      &:last-of-type a {
        margin-bottom: 0;
      }

      a {
        margin-bottom: 14px;
      }
    }
  }

  a {
    font-size: 15px;
    color: $text-color;
    font-weight: 500;
    margin-bottom: 14px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover, &.current {
      color: $red;
    }
  }
}