* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
  padding: 93px 0 0 0;
  margin: 0;
  font-family: $font-family-base;
  font-weight: normal;
  font-size: $font-size-base;
  line-height: $line-height;
  color: $white;
  min-width: 300px;
  position: relative;
  background-color: $dark;
  display: flex;
  height: auto;
  background-image: url("../img/bg.png");

  @media (max-width: $sm) {
    padding: 74px 0 0 0;
  }

  @media (max-width: $xs) {
    padding: 66px 0 0 0;
  }
}

.container {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;

  @media (max-width: $xs) {
    padding: 0 20px;
  }

  &.large {
    max-width: 1826px;
  }

  &.small {
    max-width: 1404px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .footer {
    margin-top: auto;
  }
}

iframe {
  border: 0;
  border-radius: 0;
  outline: none;
}

.slick-dots {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;

  li {
    list-style-type: none;
    margin-right: 13px;
    width: 38px;
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;

    @media (max-width: $sm) {
      width: 30px;
    }

    @media (max-width: $xs) {
      width: 20px;
      margin-right: 5px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.slick-active, &:hover {
      button {
        background-color: $white;
      }
    }

    button {
      color: $white;
      font-size: 0;
      height: 2px;
      transition: background-color $transition;
      background-color: rgba($white, 0.2);
      width: 100%;
    }
  }
}

/* STYLES FOR WP CONTENT */
.page-content {
  clear: both;

  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.aligncenter {
  text-align: center;
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

img.alignleft, .wp-caption.alignleft {
  float: left;
  margin-right: 15px;
}

img.alignright, .wp-caption.alignright {
  float: right;
  margin-left: 15px;
}

.wp-caption {
  max-width: 100%;

  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }
}

.wp-caption-text {
  font-family: $font-family-base;
  font-size: 18px;
}

@media (max-width: $xs) {
  img.alignleft, .wp-caption.alignleft {
    float: none;
    margin-right: 0;
  }
  img.alignright, .wp-caption.alignright {
    float: none;
    margin-left: 0;
  }
}

/* END STYLES FOR WP CONTENT */