button {
  padding: 0;
  outline: none;
  border: 0;
  border-radius: 0;
  background: none;
}

input[type="submit"] {
  appearance: none;
}

.burger-btn {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    img {
      &:first-of-type {
        display: none;
      }
      &:last-of-type {
        display: block;
      }
    }
  }

  img {
    &:last-of-type {
      width: 20px;
      height: 20px;
      display: none;
    }
  }
}

.primary-button, .tml-button, #affwp-graphs-filter input[type="submit"], .wt-cli-accept-all-btn, .cli_setting_save_button {
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  background-color: $red;
  color: $white;
  font-size: 16px;
  font-family: $helvetica-now-display;
  font-weight: bold;
  line-height: 1;
  padding: 14px 31px;
  box-shadow: 0px 0px 15px 1px rgba($red, 0);
  transition: box-shadow $transition;
  text-align: center;

  @media (max-width: $xs) {
    padding: 12px 25px;
  }

  &:hover {
    box-shadow: 0px 0px 15px 1px rgba($red, 0.5);
  }

  &.arrow-left {
    position: relative;

    svg {
      margin-bottom: 1px;
      width: 10px;
      position: absolute;
      margin-top: 3px;
      margin-left: -20px;
    }
  }

  &.small {
    padding: 11px 19px;
    font-size: 14px;
  }

  &.extra-small {
    font-size: 10px;
    padding: 8px 19px;
    min-height: 27px;
    min-width: 100px;
    text-align: center;
  }

  &.blue {
    background-color: $light-blue;

    &:hover {
      box-shadow: 0px 0px 15px 1px rgba($light-blue, 0.5);
    }
  }
}

.secondary-button, .cli_settings_button {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
  color: $white;
  border: 1px solid $white;
  font-size: 16px;
  font-family: $helvetica-now-display;
  font-weight: bold;
  line-height: 1;
  padding: 14px 31px;
  box-shadow: 0px 0px 15px 1px rgba($red, 0);
  transition: box-shadow $transition, background-color $transition, border-color $transition;
  text-align: center;

  @media (max-width: $xs) {
    padding: 12px 25px;
  }

  &:hover {
    box-shadow: 0px 0px 15px 1px rgba($white, 0.5);
  }

  &.arrow-left {
    position: relative;

    svg {
      margin-bottom: 1px;
      width: 10px;
      position: absolute;
      margin-top: 3px;
      margin-left: -20px;
    }
  }

  &.small {
    padding: 10px 34px;
    font-size: 14px;
    min-height: 36px;
  }

  &.extra-small {
    min-height: 25px;
    font-size: 10px;
    padding: 0 10px;
  }

  &.grey {
    border-color: $text-color;

    &:hover {
      box-shadow: none;
    }
  }
}