@import 'vars';

input, textarea {
  display: block;
  background: none;
  font-family: $helvetica-now-display;
  outline: none;
  font-size: 16px;
  color: $white;
  border: 1px solid $text-color;
  border-radius: 10px;
  font-weight: 500;
  padding: 10px;
  transition: border-color $transition;

  &:focus {
    border-color: $white;
  }

  &::placeholder {
    color: $text-color;
  }
}

input {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

textarea {
  resize: none;
  height: 186px;
}

.tml {
  .tml-label {
    margin: 0 0 13px 0;
    font-family: $helvetica-now-display;
    font-weight: bold;
    font-size: 18px;
    color: $white;
    line-height: 1.237;

    @media (max-width: $xs) {
      font-size: 16px;
    }
  }

  .tml-field-wrap {
    margin: 0 0 35px 0;

    @media (max-width: $xs) {
      margin: 0 0 25px 0;
    }

    &:last-of-type {
      margin: 0;
    }

    &.tml-rememberme-wrap {
      margin-bottom: 16px;
      display: flex;
      align-items: center;

      .tml-label {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        padding-left: 10px;
        color: rgba($text-color, 0.471);
        line-height: 1.37;
      }
    }

    input:not([type="checkbox"]) {
      border: 1px solid $text-color;
      border-radius: 10px;
      padding: 10px;
      font-size: 14px;
      font-family: $helvetica-now-display;
      font-weight: 500;
      height: 48px;
      padding: 10px 21px;
      display: flex;
      align-items: center;
      color: $white;
      line-height: 1.37;

      @media (max-width: $xs) {
        padding: 10px 15px;
      }

      &::placeholder {
        font-family: $helvetica-now-display;
        font-weight: 500;
        color: $text-color;
        line-height: 1.37;
      }
    }

    input[type="checkbox"] {
      padding: 0;
      margin: 0;
      width: 13px;
      height: 13px;
      position: relative;
      cursor: pointer;

      &:checked::after {
        opacity: 1;
      }

      &::after {
        content: '';
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: 3px;
        left: 3px;
        width: 9px;
        height: 9px;
        background-color: $text-color;
        transition: opacity $transition;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 13px;
        height: 13px;
        border: 1px solid $text-color;
        background: $dark-blue;
      }
    }
  }

  .tml-error {
    border-color: $red;
    font-size: 16px;

    a {
      color: $red;
      font-weight: bold;

      &:hover {
        color: $text-color;
      }
    }
  }
}

.tml-register, .tml-login {
  .tml-label:not([for="rememberme"]) {
    display: inline-block;
    position: relative;

    &::before {
      content: '*';
      position: absolute;
      top: -1px;
      right: -11px;
      width: 10px;
      height: 10px;
      color: $red;
      font-family: $helvetica-now-display;
      font-weight: bold;
      font-size: 18px;
    }
  }
}

.tml-login {
  .tml-field-wrap {
    margin: 0 0 30px 0;

    @media (max-width: $xs) {
      margin: 0 0 20px 0;
    }

    &.tml-pwd-wrap {
      margin-bottom: 17px;
    }
  }

  .tml-label::after {
    content: '';
    display: none;
  }
}

.search-form {
  position: relative;

  input[type="text"], input[type="search"] {
    padding: 0 20px 0 58px;
    width: 100%;
    height: 42px;
    font-size: 15px;
    line-height: 1.314;

    @media (max-width: $xs) {
      padding: 0 10px 0 35px;
    }
  }

  input[type="submit"], button[type="submit"] {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 10px;
    height: 100%;
    width: 42px;
    border: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/search-icon.svg");
    background-size: 17px;

    @media (max-width: $xs) {
      width: 30px;
      background-size: 15px;
      left: 4px;
    }

    &:hover {
      left: 9px;
      transform: scale(1.15);
    }
  }
}

.wpcf7-response-output {
  font-size: 16px;
  border-width: 1px;
  padding: 10px !important;
  color: $white;
}

.wpcf7-not-valid-tip {
  font-size: 13px;
  font-family: $font-family-base;
  color: $red;
  margin-top: 3px;
}

form {
  position: relative;

  .ajax-loader {
    position: absolute !important;
    bottom: 0;
    right: 0;
  }
}

// select2
.select2-container--default {

  .select2-selection__arrow {
    display: none !important;
  }

  &.select2-container--open {
    .select2-selection--single, .select2-selection--multiple {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .select2-selection--single, .select2-selection--multiple {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid $text-color !important;
    border-radius: 10px !important;
    padding: 0 !important;
    height: 39px !important;
    display: flex !important;
    align-items: center !important;
    position: relative;

    &::after {
      transition: transform 0.1s;
      content: '';
      position: absolute;
      top: auto;
      bottom: auto;
      right: 14px;
      width: 9px;
      height: 9px;
      background-image: url("../img/dropdown-icon.svg");
      background-repeat: no-repeat;
      background-size: 9px;
    }

    .select2-selection__rendered {
      font-size: 14px;
      color: $white !important;

    }
  }

  .select2-selection--multiple .select2-selection__rendered {
    display: none !important;
  }
}

.select2-container .select2-search--inline .select2-search__field {
  margin: 0 !important;
  font-size: 14px !important;
  color: $white !important;
  line-height: 1.408 !important;
  padding: 0 15px !important;
}

.select2-dropdown {
  border-radius: 10px 0 0 10px !important;
  background-color: #060a15 !important;
  border: 0 !important;
  box-shadow: none !important;
  top: 7px !important;

  .select2-results__options {
    max-height: 194px !important;
    box-sizing: border-box !important;
    padding: 10px 0 !important;

    &[aria-multiselectable="true"] {
      li.select2-results__option--selected {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: auto;
          bottom: auto;
          right: 10px;
          height: 8px;
          width: 11px;
          background-size: 10px;
          background-image: url("../img/checked-option-icon.svg");
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 3px;
      background: rgb(6, 10, 21);
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(17, 28, 48);
    }

    li {
      color: $white !important;
      font-size: 12px !important;
      padding: 5px 15px !important;
      min-height: 26px !important;
      display: flex;
      align-items: center;

      &.select2-results__option--highlighted.select2-results__option--selectable {
        background-color: $blue-highlight !important;
      }

      &.select2-results__option--selected {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}