input {
  outline: none;
  background: none;
}

.tml {
  .tml-label {
    margin: 0 0 13px 0;
    font-family: $helvetica-now-display;
    font-weight: bold;
    font-size: 18px;
    color: $white;
    line-height: 1.237;

    @media (max-width: $xs) {
      font-size: 16px;
    }
  }

  .tml-field-wrap {
    margin: 0 0 35px 0;

    @media (max-width: $xs) {
      margin: 0 0 25px 0;
    }

    &:last-of-type {
      margin: 0;
    }

    &.tml-rememberme-wrap {
      margin-bottom: 16px;
      display: flex;
      align-items: center;

      .tml-label {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        padding-left: 10px;
        color: rgba($text-color, 0.471);
        line-height: 1.37;
      }
    }

    input:not([type="checkbox"]) {
      border: 1px solid $text-color;
      border-radius: 10px;
      padding: 10px;
      font-size: 14px;
      font-family: $helvetica-now-display;
      font-weight: 500;
      height: 48px;
      padding: 10px 21px;
      display: flex;
      align-items: center;
      color: $text-color;
      line-height: 1.37;

      @media (max-width: $xs) {
        padding: 10px 15px;
      }

      &::placeholder {
        font-family: $helvetica-now-display;
        font-weight: 500;
        color: $text-color;
        line-height: 1.37;
      }
    }

    input[type="checkbox"] {
      padding: 0;
      margin: 0;
      width: 13px;
      height: 13px;
      position: relative;
      cursor: pointer;

      &:checked::after {
        opacity: 1;
      }

      &::after {
        content: '';
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: 3px;
        left: 3px;
        width: 9px;
        height: 9px;
        background-color: $text-color;
        transition: opacity $transition;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 13px;
        height: 13px;
        border: 1px solid $text-color;
        background: $dark-blue;
      }
    }
  }

  .tml-error {
    border-color: $red;
    font-size: 16px;

    a {
      color: $red;
      font-weight: bold;

      &:hover {
        color: $text-color;
      }
    }
  }
}

.tml-register, .tml-login {
  .tml-label {
    display: inline-block;
    position: relative;

    &::after {
      content: '*';
      position: absolute;
      top: -1px;
      right: -11px;
      width: 10px;
      height: 10px;
      color: $red;
      font-family: $helvetica-now-display;
      font-weight: bold;
      font-size: 18px;
    }
  }
}

.tml-login {
  .tml-field-wrap {
    margin: 0 0 30px 0;

    @media (max-width: $xs) {
      margin: 0 0 20px 0;
    }

    &.tml-pwd-wrap {
      margin-bottom: 17px;
    }
  }

  .tml-label::after {
    content: '';
    display: none;
  }
}

.search-form {
  position: relative;

  input[type="text"] {
    padding: 0 20px 0 58px;
    width: 100%;
    border: 1px solid $text-color;
    border-radius: 10px;
    height: 42px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.314;
    color: $text-color;

    @media (max-width: $xs) {
      padding: 0 10px 0 35px;
    }

    &::placeholder {
      color: $text-color;
    }
  }

  input[type="submit"] {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 10px;
    height: 100%;
    width: 42px;
    border: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/search-icon.svg");
    background-size: 17px;

    @media (max-width: $xs) {
      width: 30px;
      background-size: 15px;
      left: 4px;
    }

    &:hover {
      left: 9px;
      transform: scale(1.15);
    }
  }
}