.header {
  padding: 24px 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);

  @media (max-width: $sm) {
    padding: 15px 0;
  }

  &.sticky {
    background-color: #070f1c;
  }

  & > .container {
    position: relative;
  }

  .inner {
    display: flex;
    align-items: center;
  }

  .logo-holder {
    & > a {
      display: flex;
      align-items: center;
      color: $white;
      font-size: 34px;
      font-family: $helvetica-now-display;
      font-weight: bold;

      @media (max-width: $lg) {
        font-size: 30px;
      }

      img {
        display: block;
        width: auto;
        max-width: 56px;
        margin-right: 13px;

        @media (max-width: $lg) {
          max-width: 50px;
          margin-right: 10px;
        }

        @media (max-width: $sm) {
          max-width: 45px;
        }
      }

      span {
        display: block;
        line-height: 44px;

        @media (max-width: $xs) {
          display: none;
        }

        &.red {
          color: $red;
        }
      }
    }
  }

  .menu-holder, .login-menu-holder {
    font-family: $helvetica-now-display;
    font-weight: bold;
    display: flex;
    align-items: center;

    & > ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        list-style-type: none;

        &.not-a-link > a {
          cursor: default;
          font-size: 18px;
          margin-bottom: 23px;
          color: $red;

          @media (max-width: $md) {
            margin-bottom: 10px;
            font-size: 16px;
          }
        }
      }

      & > li {
        margin-right: 30px;
        text-transform: uppercase;

        @media (max-width: $md) {
          &.menu-item-has-children > a {
            position: relative;

            &.opened {
              &::after {
                transform: rotate(180deg);
              }
            }

            &::after {
              content: '';
              position: absolute;
              top: 5px;
              right: -30px;
              width: 10px;
              height: 10px;
              background-image: url("../img/dropdown-icon.svg");
              transition: transform .1s ease;
            }
          }
        }

        &.border {
          & > a {
            padding: 5px 16px;
            border-radius: 7px;
            border: 1px solid $white;

            @media (max-width: $xs) {
              padding: 5px 10px;
            }

            &:active {
              border-color: $red;
            }
          }
        }

        &.cart {
          margin-left: 6px;

          @media (max-width: $md) {
            margin-left: 0;
          }

          & > a {
            width: 18px;
            height: 18px;
            font-size: 0;
            background-image: url("../img/cart-btn.png");
            background-repeat: no-repeat;
            background-position: center;
          }

          &.not-empty {
            position: relative;

            &::after {
              content: '';
              position: absolute;
              top: 10px;
              right: 0;
              width: 5px;
              height: 5px;
              background-color: $red;
              border-radius: 50%;
              z-index: 1;
            }
          }
        }

        &.menu-item-has-children.active > a {
          color: grey;

          &:active {
            color: $red;
          }
        }

        &.current-menu-item {
          & > a {
            color: $red;
            text-shadow: 0 0 16px rgba($red, 0.7);

            &:hover {
              color: $red;
            }
          }

          &.border > a {
            border-color: $red;
          }
        }

        & > a {
          position: relative;
          z-index: 3;
          font-size: 14px;
          color: $semi-white;

          &:hover {
            color: grey;
          }

          &:active, &.active {
            color: $red;
            text-shadow: 0 0 16px rgba($red, 0.7);
          }

          &.active {
            position: relative;

            &::after {
              content: '';
              position: absolute;
              z-index: 3;
              bottom: -45px;
              left: 0;
              right: 0;
              margin: 0 auto;
              width: 0;
              border: 8px solid transparent;
              border-top: 8px solid #070f1d;

              @media (max-width: $md) {
                display: none;
              }
            }
          }
        }

        & > .sub-menu {
          display: none;
          position: absolute;
          top: 69px;
          left: 0;
          right: 0;
          margin: 0 auto;
          max-width: 1404px;
          background-color: $submenu-blue-bg;
          padding: 72px 40px 82px;
          z-index: 2;

          @media (max-width: $md) {
            position: static;
            flex-direction: column;
            background-color: $submenu-blue-bg;
            padding: 20px 0;
          }

          &::after {
            content: '';
            position: absolute;
            top: -200px;
            left: 0;
            height: 200px;
            width: 100%;
            z-index: 0;
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 1000%;
            background: $submenu-blue-bg;
            z-index: -1;

            @media (max-width: $md) {
              display: none;
            }
          }

          &::before {
            left: -300%;
          }

          & > li {
            text-transform: none;
          }
        }
      }
    }

    .sub-menu {
      padding: 0;
      display: flex;
      justify-content: space-between;

      & > li {
        @media (max-width: $md) {
          margin-bottom: 20px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        & > .sub-menu {
          display: flex;
          flex-direction: column;
          font-weight: normal;

          li {
            font-size: 15px;
            margin-bottom: 22px;

            @media (max-width: $md) {
              font-size: 14px;
              margin-bottom: 10px;
            }

            &:last-of-type {
              margin-bottom: 0;
            }

            a {
              color: $white;

              &:hover {
                color: grey;
              }
            }
          }
        }
      }
    }
  }

  .menu-holder {
    margin-left: 120px;

    @media (max-width: $lg) {
      margin-left: 30px;
    }

    @media (max-width: $md) {
      overflow: auto;
      display: none;
      position: absolute;
      top: 68px;
      left: 0;
      background-color: $submenu-blue-bg;
      width: 100%;
      margin: 0;
      height: calc(100vh - 68px);
      padding-bottom: 80px;
    }

    @media (max-width: $sm) {
      top: 59px;
      height: calc(100vh - 59px);
    }

    @media (max-width: $xs) {
      top: 51px;
      height: calc(100vh - 51px);
    }

    & > ul {
      @media (max-width: $md) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 15px;
        box-sizing: border-box;
      }

      & > li {
        margin-right: 30px;

        @media (max-width: $lg) {
          margin-right: 15px;
        }

        @media (max-width: $md) {
          margin-right: 0;
          margin-bottom: 10px;
          width: 100%;
          text-align: center;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .login-menu-holder {
    margin-left: auto;
    font-family: $helvetica-now-display;
    font-weight: bold;
    display: flex;
    align-items: center;

    & > ul {
      & > li {
        margin-right: 15px;
        display: flex;
        align-items: center;

        @media (max-width: $xs) {
          margin-right: 15px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .burger-btn {
    display: none;

    @media (max-width: $md) {
      display: flex;
      margin-left: 24px;
    }

    @media (max-width: $xs) {
      margin-left: 20px;
    }
  }
}