.post-card {
  &:hover {
    .thumbnail::before {
      display: block;
      background-color: rgba($white, 0.4);
    }
  }

  .thumbnail {
    position: relative;
    margin-bottom: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($white, 0);
      transition: background-color $transition;
      border-radius: 10px;
    }

    img {
      width: 100%;
      border-radius: 10px;
      display: block;
    }
  }

  .title {
    transition: color $transition;
    margin: 0 0 2px;
    color: $white;
  }

  .date {
    font-size: 12px;
    font-weight: 500;
    color: $red;
    line-height: 1.661;
    text-transform: uppercase;
  }
}