.product-card {
  cursor: pointer;

  &:hover {
    .thumbnail {
      transform: scale(1.03);
    }
  }

  .thumbnail {
    transition: transform $transition;

    img {
      display: block;
      width: 100%;
      border-radius: 10px;

      @media (max-width: $xs) {
        max-width: 100%;
      }
    }
  }

  .title {
    padding-top: 13px;
    color: $white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2px;

    @media (max-width: $xs) {
      font-size: 18px;
    }
  }

  .price {
    color: $red;
    font-weight: 500;
    font-size: 18px;

    @media (max-width: $xs) {
      font-size: 16px;
    }
  }
}