// GRID
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$grid-gutter-width:  20px;

// FONTS
$font-size-base:             1rem;
$font-size-sm:               12px;
$font-size-md:               14px;
$font-size-lg:               18px;
$font-size-xl:               20px;

$line-height:                1.4;

$font-family-base:           Arial, sans-serif;

$light:                      300;
$regular:                    400;
$medium:                     500;
$bold:                       700;
$black:                      900;

//COLORS
$white:                    #fff;
$black:                    #000;

//BASE
$transition:              0.35s;
$border-radius:           8px;

