$xxs: 350px;
$xs: 540px;
$sm: 769px;
$md: 960px;
$lg: 1140px;

// FONTS
$font-size-base:               18px;

$helvetica-now-display:        'HelveticaNowDisplay', sans-serif;

$line-height:                1.4;

$font-family-base:           $helvetica-now-display;

//COLORS
$white:                    #fff;
$semi-white:               #fbfbfb;
$black:                    #000;
$grey:                     #091220;
$red:                      #ff0036;
$blue:                     #121d2f;
$dark-blue:                #050913;
$light-blue:               #0f94f1;
$submenu-blue-bg:          #0f223f;
$dark:                     #07101d;
$text-color:               #576479;
$text-color-light:         #c6cfe0;
$text-color-dark:          #1a263c;

//BASE
$transition:               0.2s;

