@import '../../../src/scss/components/vars';

.single-support-content {
  padding: 50px 0 72px;

  @media (max-width: $md) {
    padding: 50px 0;
  }

  @media (max-width: $xs) {
    padding: 40px 0;
  }

  .cols-holder {
    display: flex;

    @media (max-width: $md) {
      flex-direction: column;
    }

    .left-col {
      width: 100%;
      //padding-left: 85px;

      //@media (max-width: $lg) {
      //  padding-left: 0;
      //}
    }

    .sidebar {
      max-width: 250px;
    }
  }

  .breadcrumbs {
    margin-bottom: 20px;
  }

  .post-holder {
    .title-holder {
      h3 {
        font-size: 44px;
        margin: 0 0 5px 0;

        @media (max-width: $sm) {
          font-size: 40px;
        }

        @media (max-width: $xs) {
          font-size: 35px;
        }
      }

      .modified-date {
        font-size: 14px;
        color: $text-color;
      }
    }

    .post-content {
      font-size: 18px;
      color: $text-color;
      margin-top: 45px;
      line-height: 1.778;

      @media (max-width: $sm) {
        margin-top: 40px;
      }

      @media (max-width: $xs) {
        margin-top: 30px;
        font-size: 16px;
        line-height: 1.5;
      }

      a {
        color: $red;

        &:hover {
          color: $white;
        }
      }

      img {
        display: block;
      }

      p, img, h1, h2, h3, h4, h5, h6 {
        margin: 30px 0 0 0;

        @media (max-width: $sm) {
          margin: 25px 0 0 0;
        }

        @media (max-width: $xs) {
          margin: 15px 0 0 0;
        }
      }

      h1, h2, h3, h4, h5, h6 {
        color: $white;
      }
    }
  }

  .bottom-text {
    font-size: 14px;
    color: $text-color;
    margin-top: 30px;

    p {
      margin: 0;
    }

    a {
      color: #969fad;

      &:hover {
        color: $white;
      }
    }
  }
}